= error_messages!(form.object)
%ol
  = form.input :name
  = form.input :permalink
  = form.input :content, :as => :ckeditor, :input_html => {:swf_params => {:assetable_type => 'News' }, :width => '900px', :height => '300px'}
