<table id="comments" class="comment-list">
  <% @comments.each_with_index do |comment, index| %>
    <%= render :partial => "comments/comment", :locals => {:comment => comment, :index => index} %>
  <% end %>
</table>
<%= paginate @comments %>

