При удаленной загрузке файла возникли ошибки:

url: #{@track_url}
%hr
- unless @double_track_url.blank?
  Ссылка на существующий файл: #{@double_track_url}
  %hr
%div
  Ошибки:
  - I18n.locale = :ru
  - @track.errors.full_messages.each do |t|
    = t
