<h3>Смена пароля</h3>

<div id="row">
  <%= f.label "Новый пароль" %><br />
  <%= f.password_field :password %>
</div>

<div id="row">
  <%= f.label "Подтвердите пароль" %>(Повторите пароль возбежании неприятностей)
  <br />
  <%= f.password_field :password_confirmation %>
</div>
