nbproject
\#*
**/*.db
*~
.#*
db/*.sql
db/*.sqlite3*
db/schema.rb
db/sphinx/*
log/*
tmp
coverage/*
var
TAGS
config/database.yml
config/cucumber.sphinx.conf
config/cucumber.sphinx.conf
public/assets/*
config/test.sphinx.conf
db/sphinx/**/*
data/*
rerun.txt
public/news_items/*
public/playlists/*
public/system/*

