\#*
**/*.db
*~
.#*
db/*.sql
db/*.sqlite3*
db/schema.rb
doc/**/*
log/*
tmp
coverage/*
var
TAGS
rerun.txt
config/database.yml
config/sphinx.yml
config/development.sphinx.conf
config/cucumber.sphinx.conf
db/sphinx/*

