%ul.catalog.dotted
  %li{:class => params[:state].to_s =~ /^fresh$/ || params[:state].blank? ? 'selected' : ''}
    = link_to( "Новые MP3", tracks_path)
  %li{:class => params[:state].to_s =~ /active/ ? 'selected' : ''}
    = link_to("Активные",  state_tracks_path(:active)) if current_user
  %li{:class => params[:state].to_s =~ /moderation/ ? 'selected' : ''}
    = link_to( "На модерации", state_tracks_path(:moderation)) if current_user
