<ul class="catalog dotted">
	<li><%= link_to "Новые MP3", new_mp3_tracks_path %></li>
	<li><%= link_to "Топ MP3", top_mp3_tracks_path %></li>
</ul>
<div class="new-popular">
  <div class="corner-r"></div>
  <%= render :partial => "tracks/list", :locals => {:count_downloads => false, :paginate => true} %>
	<div class="corner-lb"><span></span></div>
</div>

