<%= render :partial => 'top_new_changer' %>
<p class="all-list dotted"><%= link_to "Весь список", tracks_path %></p>


<%= render :partial => "tracks/list", :locals => {:count_downloads => false, :paginate => true} %>

