= render :partial => 'top_new_changer'
%p.all-list
  %select#select_per_page
    %option 10 на стр
    %option 30 на стр
    %option 50 на стр
    %option 100 на стр
= render :partial => "tracks/list", :locals => {:count_downloads => true, :paginate => true}
