.playlist-prev
  %span.corn-top
    %span
  %span.photo= image_tag @playlist.icon.url(:thumb)
  %span.corn-bot
    %span

%label Название:
.inputs= f.text_field :title, :class => "inputs"

%label Описание:
.textarea= f.text_area :description, :class => "textarea", :cols => 20, :rows => 10

%label Обложка:
.file-wr
  .mask
    %input#fileInputText{:type => "text"}/
  .MultiFile-wrap{:style => "top:0;"}
    %input#playlist_icon.fileInput{ :type => "file",
                                    :onchange => "document.getElementById('fileInputText').value = this.value;",
                                    :name =>"playlist[icon]", :size => 31 }

