<ul class="catalog dotted">
	<li class="selected"><%= link_to "Плейлисты", playlists_path %></li>
</ul>
<ul class="top-playlist" id="playlists">
  <% @playlists.each_with_index do |playlist, index| %>
    <%= render :partial => "admin/playlists/playlist", :locals => {:playlist => playlist, :index => index} %>
  <% end %>
</ul>
<%= paginate @playlists %>

<%= link_to "Добавить новый плейлист", new_admin_playlist_url%>