<h1>Управление плейлистами</h1>
<%= link_to "Добавить плейлист", new_admin_playlist_path, :id => "playlist_new" %>
<table id="playlists">
  <tr>
    <th>Название</th>
    <th>Описание</th>
  </tr>
  <%= render @playlists %>
</table>

