<ul class="catalog dotted">
	<li class="selected"><%= link_to "Плейлисты", playlists_path %></li>
</ul>
<ul class="top-playlist" id="playlists">
  <%= render :partial => "playlist", :collection => @playlists %>
</ul>
<%= will_paginate @playlists %>

<%= link_to "Добавить новый плейлист", new_admin_playlist_url %>

