<% title I18n.t("admin.payouts.title") %>
<ul class="catalog dotted">
	<li class="selected"><%= link_to I18n.t("admin.payouts.title"), admin_payouts_path %></li>
</ul>
<%= render :partial => 'withdraws' unless @collection.blank? %>
