<li><%= link_to block_news.header, admin_news_url(:id => block_news.id) %>
    <%= link_to 'Show', admin_news_url(:id => block_news.id) %>
    <%= link_to 'Edit', edit_admin_news_url(:id => block_news.id) %>
    <%= link_to 'Delete', admin_news_url(:id => block_news.id), :method => :delete, :confirm => "Вы уверенны?" %>
</li>

