<table class="">
  <tr>
    <td>ПОИСК</td>
    <td><%= link_to 'Пользователь', user_admin_searches_url %></td>
    <td><%= link_to "MP3 файл", mp3_admin_searches_url %></td>
    <td><%= link_to 'Новость', news_items_admin_searches_url %></td>
    <td><%= link_to 'Плейлист', playlists_admin_searches_url %></td>
    <td>Транзакции</td>
  </tr>
  <tr>
    <td>Управление</td>
    <td>Группы</td>
    <td>Категории (новостей)</td>
    <td>Модерация mp3</td>
    <td>Абузы</td>
    <td>Новости</td>
    <td>Комментарии</td>
    <td>Страницы</td>
    <td>Выплаты</td>
  </tr>
  <tr>
    <td>НАСТРОЙКИ</td>
    <td>Биллинг</td>
    <td>Баланс</td>
    <td>Топ users</td>
    <td>Топ mp3</td>
    <td>Сервера</td>
    <td>Фильтры слов</td>
  </tr>
</table>

