<p>
  Выбрать флажки: <a rel="tracks" href="#select_all">Все</a>, <a rel="tracks" href="#select_none">Ни одного</a>
</p>

<script type="text/javascript">
    $(document).ready( function() {
        // Выбор всех
        //При клике на ссылку "Все", активируем checkbox
        $("a[href='#select_all']").click( function() {
           $("#" + $(this).attr('rel') + " input:checkbox:enabled").attr('checked', true);
            return false;
        });
        // Ни одного
        $("a[href='#select_none']").click( function() {
             $("#" + $(this).attr('rel') + " input:checkbox").attr('checked', false);
            return false;
        });
    });
</script>

