<div class="extra"><!-- Left Column -->

	<div class="info">
		<div class="corners-t"><span></span></div>
		<div class="info-in">
			<h3>Топ Пользователей</h3>
			<ol>
        <% for user in User.top_balance %>
        <li><%= link_to user.login  %> <span>(<%= user.balance %>$)</span></li>
        <% end %>
			</ol>
		</div>
		<div class="corners-b"><span></span></div>
	</div>

	<div class="info">
		<div class="corners-t"><span></span></div>
		<div class="info-in">
			<h3>Полезные ссылки</h3>
			<ul>
				<li>&gt;&gt;<a href="#">Форум mp3</a></li>
				<li>&gt;&gt;<a href="#">Как залить мп3?</a></li>
				<li>&gt;&gt;<%= link_to "Контакты", stat_path("rules") %></li>
				<li>&gt;&gt;<a href="#">Статистика</a></li>
				<li>&gt;&gt;<a href="#">Реклама на сайте</a></li>
				<li>&gt;&gt;<%= link_to "Контакты", stat_path("contacts") %></li>
			</ul>
		</div>
		<div class="corners-b"><span></span></div>
	</div>

	<div class="tag-cloud">
		<ul>
			<li><a href="#" rel="tag" class="w2">True Blood </a></li>
			<li><a href="#" rel="tag" class="w14">Kate Bosworth</a></li>
			<li><a href="#" rel="tag" class="w2">The Masters</a></li>
			<li><a href="#" rel="tag" class="w8">Gwen Stefani</a></li>
			<li><a href="#" rel="tag" class="w1">Andrea Lieberman</a></li>
			<li><a href="#" rel="tag" class="w12">Golden Girl</a></li>
			<li><a href="#" rel="tag" class="w3">Wendie Malick</a></li>
			<li><a href="#" rel="tag" class="w5">Betty   Justin</a></li>
			<li><a href="#" rel="tag" class="w13">Timberlake</a></li>
			<li><a href="#" rel="tag" class="w7">Jake</a></li>
			<li><a href="#" rel="tag" class="w2">Kasdan</a></li>
			<li><a href="#" rel="tag" class="w9">Michael Jackson</a></li>
			<li><a href="#" rel="tag" class="w15">Saturday</a></li>
			<li><a href="#" rel="tag" class="w8">Park Hoiei</a></li>
			<li><a href="#" rel="tag" class="w2">Secret Live </a></li>
			<li><a href="#" rel="tag" class="w4">New York City</a></li>
			<li><a href="#" rel="tag" class="w10">Songs For Lulu </a></li>
			<li><a href="#" rel="tag" class="w6">The Masters</a></li>
			<li><a href="#" rel="tag" class="w11">Gwen Lieberman Golden	</a></li>
		</ul>
	</div>


</div>
