<ul class="user-menu dotted">
<% if current_user -%>
	<li><%= link_to I18n.t("balance"), payments_path %></li>
	<li><a href="#">Мои mp3</a></li>
	<li><a href="#">Мои плейлисты</a></li>
	<li><a href="#">Добавить mp3</a></li>
	<li><a href="#">Создать новость</a></li>
	<li><a href="#">Создать плейлист</a></li>
	<li><a href="#" class="close"></a></li>
<% else -%>
<li><%= link_to I18n.t("register"), signup_path %></li>
<li><%= link_to I18n.t("login"), login_path %></li>
<% end -%>
</ul>
