<% if current_user -%>
<ul class="user-menu dotted">
	<li><%= link_to "Баланс", payments_path %></li>
	<li><a href="#">Мои mp3</a></li>
	<li><a href="#">Мои плейлисты</a></li>
	<li><a href="#">Добавить mp3</a></li>
	<li><a href="#">Создать новость</a></li>
	<li><a href="#">Создать плейлист</a></li>
	<li><a href="#" class="close"></a></li>
</ul>
<% else -%>
<%= link_to I18n.t("register"), signup_path %>
<%= link_to I18n.t("login"), login_path %>
<% end -%>

