<p>Название сервера: <%= form.text_field :name %></p>
<p>IP: <%=  form.text_field :ip %></p>
<p>Доменное имя: <%=  form.text_field :domainname %></p>
<p>Описание сервера: <%= form.text_area :description %></p>
