<h1>Редактируем сервер: <%= @satellite.name %></h1>
<%= form_for [:admin, @satellite] do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Сохранить" %>
<% end %>
