<%= form_for @satellite, :url => admin_satellites_url do |f| %>
    <%= error_messages!(f.object) %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Создать новый сервер" %>
<% end %>
