html, body, ol, ul, li, h1, h2, h3, h4, h5, h6, p, form, img, table, dl, dt, dd, a { padding:0; margin:0; }
body                                {height: 100%; background-color: #fff; font:  12px 'Lucida Grande', Arial, Verdana, sans-serif; color: #666;}
img                                 {border: none !important;}
ul                                  {list-style-type: none;}
a:link, a:active, a                 {color: #5566d5; cursor: pointer; text-decoration: none;}
a:hover                             {cursor : pointer; text-decoration: underline;}
a:active, a:focus, img              {outline: 0;}
.clear                              {clear: both;}
.floatLeft                          {float: left;}
.floatRight                         {float: right;}
.overHidden                         {overflow: hidden;}
.overVisible                        {overflow: visible !important;}
.borderNone                         { border: none !important; }
.borderNoneBtm                      { border-bottom: none !important; }
.alignCenter                        { text-align: center; }

/* menu */
.main_menu { font-size: 14px; text-align: left; padding-top: 10px; }
.main_menu li { display: inline; padding-right: 15px; }
.main_menu a.current { color: #333;  }

