html {font-size:100.01%}
html,body {height:100%}

body {background:#FFF url(../images/back.gif) 0 0 repeat-x;text-align:center;font:.75em/1.3 Arial,sans-serif;color:#4A4A4A;}

legend {display:none}

a,a span {cursor:pointer}

a {color:#d22310}
/*a:visited {color:#e96051}*/
a:hover {text-decoration:none;}

img {background:#EEE}
th {text-align:left}
.hidden {display:none}


h3 {font-size:24px;padding:15px 0;}
h3.red {padding:15px 0;}


.red {color:#d31402;}

.left {float:left}
.right {float:right}

	.dotted a {text-decoration:none;border-bottom-width:1px;border-bottom-style:dotted;}
	.dotted a:hover {border-bottom:none;} 
	
/* Wrapper
------------------------------------ */
#wrapper {position:relative;overflow:hidden;margin:0 auto;width:100%;min-width:1000px;max-width:1300px;text-align:left;}

/* Header
------------------------------------ */
	.header h1 {left:31px;top:66px;z-index:1;overflow:hidden;text-align:center;font:42px Arial,sans-serif;color:#d22310;}
	.header h1,
	.header h1 span {position:absolute;width:186px;height:41px;}
		.header h1 span {display:block;top:0;left:0;z-index:2;background:url(../images/mp3koza.png);}

	/* Header Navigation */
	.header .navigation {padding:0 0 0 260px}
		.header .navigation ul {overflow:hidden;padding:12px 0 20px 0;}
		.header .navigation li {float:left;white-space:nowrap;padding-right:38px}
		.header .navigation a {font-size:18px;font-style:italic;}
		
	/* Header Advertisment */
	.header .advertisment {padding:0 0 0 260px;}
		.header .advertisment a {margin-right:23px;}
		.header .advertisment img {border:1px solid #e0e0e0;}
	
	/* Header Search form */
	.header .search-form {clear:both;} 
		.header .search-form .subject {overflow:hidden;} 
			.header .search-form .subject input {display:none;} 
			.header .search-form .subject label {height:36px;float:left;z-index:200;position:relative;} 
				.header .search-form .subject label span {height:27px;padding:9px 10px 0 0;display:block;font-size:16px;font-weight:bold;color:#000;} 
					.header .search-form  .dotted label a {border-color:#d22310;} 
  
				.header .search-form .subject label.selected {background:url(../images/tab.png) 100% 0 no-repeat;padding-right:25px;} 
					.header .search-form .subject label.selected span {background:url(../images/tab.png) 0 0 no-repeat;padding:9px 0 0 20px;} 
				
	.header .user-menu-wr {position:absolute;height:23px;width:100%;padding-top:13px}
	.header .user-menu {float:right;height:23px;overflow:hidden;padding-left:21px;background:url(../images/icons.png) -78px 1px no-repeat;}
	.header .user-menu .close {background:url(../images/icons.png) -64px -2px no-repeat;width:14px;height:14px;display:block;border:none}
		.header .user-menu li {float:left;word-spacing:no-wrap;}
		.header .user-menu a {float:left;word-spacing:no-wrap;margin-right:12px;color:#202020;font-weight:bold;font-style:italic}
		.header .user-menu a:hover {color:#d22310}
			.header .search-form  .dotted a {border-color:#202020}
		
.search-string {height:41px;background:url(../images/search-field.png) 100% 0 no-repeat;padding-bottom:6px;}
	.search-string div {height:34px;background:url(../images/search-field.png) 0 100% no-repeat;padding:7px 0 0 19px;}
	.search-string .input {height:26px;background:url(../images/input.gif) 0 100% no-repeat;padding:0 0 0 5px;margin-right:155px}
	.search-string .search {display:block;float:right;width:120px;height:28px;cursor:pointer;background:url(../images/search.png) 0 0 no-repeat;border:none;margin:-26px 19px 0 0;}
		.search-string .input input {color:#676767;display:block;padding:3px 0 0 0;height:23px;position:relative;background:url(../images/input.gif) 100% 0 no-repeat;width:100%;border:0;font-size:14px;margin:0;}
  
	.search-form .checkboxes {padding-left:22px;}
		.search-form .checkboxes label {font-weight:bold;padding-right:17px;display:inline;}
		.search-form .checkboxes input {margin-right:5px}
  
.languages {float:right;}
	.languages li {float:left;width:27px;height:14px;padding:2px 0 4px 0;text-align:center;font-weight:bold;}
	.languages a {font-weight:bold;}
	.languages li.selected { background:#ffb52a url(../images/lang.gif) 0 0 no-repeat;width:px;height:px;}
		
.caracters-nav {float:right;padding:3px 53px 0 9px;}
	.caracters-nav li {float:left;padding-left:6px;}
	.caracters-nav a {text-transform:uppercase;font-weight:bold;}
		
.info {background:url(../images/info-bg.gif) 0 0 repeat-x;margin-bottom:23px;}
	.info .corners-t {height:6px;background:url(../images/corners.gif) 100% -12px no-repeat;}
		.info .corners-t span {height:6px;background:url(../images/corners.gif) 0 0 no-repeat;display:block;width:6px}
			
	.info .corners-b {height:6px;background:url(../images/corners.gif) 100% -18px no-repeat;}
		.info .corners-b span {height:6px;background:url(../images/corners.gif) 0 -6px no-repeat;display:block;width:6px}
		
	.info .info-in {border-color:#b5b5b5;border-width:1px;border-style:solid;border-top:none;border-bottom:none;padding:5px 13px;}	
			
	.info h3 {color:#525653;font-size:18px;font-style:italic;font-weight:normal;padding-bottom:10px}
	.info ol {list-style:none;overflow:hidden;color:#000;}
		.info ol li {list-style:decimal;font-weight:bold;list-style-position:inside;display:list-item;margin-top:-1px;padding:3px 5px 4px 5px;border-top:1px solid #cbc8c8;}
		.info ol a {font-weight:bold;margin-left:5px;}
		.info ol span {color:#525653}
		
	.info ul {list-style:none;overflow:hidden;color:#000;}
		.info ul li {font-weight:bold;margin-top:-1px;padding:3px 5px 4px 5px;border-top:1px solid #cbc8c8;}
		.info ul a {font-weight:bold;margin-left:10px}
		.info ul span {color:#525653}
		
.tag-cloud {overflow:hidden;padding:0 15px;text-align:center;}
	.tag-cloud li {display:inline;}
	.tag-cloud a {color:#000;text-decoration:none;}
	.tag-cloud a:hover {color:#d22310;text-decoration:none;}
	.tag-cloud .w1,
	.tag-cloud .w2,
	.tag-cloud .w3,
	.tag-cloud .w4,
	.tag-cloud .w5,
	.tag-cloud .w6,
	.tag-cloud .w7,
	.tag-cloud .w8,
	.tag-cloud .w9,
	.tag-cloud .w10 {text-decoration:none;}
	.tag-cloud .w11,
	.tag-cloud .w12,
	.tag-cloud .w13,
	.tag-cloud .w14,
	.tag-cloud .w15 {text-decoration:underline;}
	
	.tag-cloud .w1 {font-size:9px;}
	.tag-cloud .w2 {font-size:10px;}
	.tag-cloud .w3 {font-size:11px;}
	.tag-cloud .w4 {font-size:12px;}
	.tag-cloud .w5 {font-size:13px;}
	.tag-cloud .w6 {font-size:14px;}
	.tag-cloud .w7 {font-size:15px;}
	.tag-cloud .w8 {font-size:16px;}
	.tag-cloud .w9 {font-size:17px;}
	.tag-cloud .w10 {font-size:18px;}
	.tag-cloud .w11 {font-size:19px;}
	.tag-cloud .w12 {font-size:20px;}
	.tag-cloud .w13 {font-size:21px;}
	.tag-cloud .w14 {font-size:23px;}
	.tag-cloud .w15 {font-size:25px;}		
  /* Main
------------------------------------ */

.main {position:relative;width:100%;overflow:hidden;}
	.main .content-wrapper {padding-top:22px;}
	.main .wrapper,
	.main .content-wrapper {position:relative;float:left;width:100%;}

	.main .aside,
	.main .extra {position:relative;float:left;overflow:hidden;padding:22px 0 45px 0;}
	.main .content {padding:0 0 45px 0;}
	
	.aside {width:207px;margin-left:-207px;}
	.extra {width:207px;margin-left: -100%;}
	
	/* 3 Column settings */
	.threecol .content {margin: 0 225px 0 225px;}

	/* 2 Column settings (left col) */
	.twocol-l .content {margin: 0 0 0 225px;}

	/* 2 Column settings (right col) */
	.twocol-r .content {margin: 0 225px 0 0;}
	.twocol-r .extra {width:207px;margin-left: -207px;}


/* Form default
----------------------border:1px solid #ccc;*/
 .content form {margin:0 0 20px 0;}
.content div.inputs {width:400px;height:21px;background:url(../images/inputs.gif) 0 0 no-repeat;padding-top:1px}
.content input.inputs {font:bold 14px Arial;color:#000;font-weight:bold;border-width:0 1px 1px 0;border-color:#d3d3d3;border-style:solid;width:394px;height:19px;background:transparent;padding:1px 3px 0 3px;}
.content select {font:12px Arial;color:#000;border:1px solid #d3d3d3;}
.content textarea.textarea {font:bold 14px Arial;color:#000;border-width:0 1px 1px 0;border-color:#d3d3d3;border-style:solid;width:393px;height:62px;padding:3px;background:transparent;}
.content div.textarea {background:url(../images/inputs.gif) 0 0 no-repeat;width:400px;height:69px;padding:1px 0 0 0 }
.content input.buttons {background:#fecb2b url(../images/buttons.png) 0 0 no-repeat;border:none;width:157px;height:52px;margin-right:14px;color:#000;font:bold 18px Arial;margin-top:32px;padding:0;}
.content div.buttons {margin-left:46px;clear:both;}
.content label {display:block;font-size:14px;font-weight:bold;margin:19px 0 4px 0;}
.content label.yellow {background:#fed500;display:block;font-size:14px;font-weight:bold;padding:4px 17px;margin:19px 0 14px 0;color:#000;}

/*for inline position elements*/
.inline {overflow:hidden;padding:10px 0 0 0;}
.inline label, .inline div.inputs, select {float:left;}
.inline div.inputs {margin:0 10px 0 0;width:200px;}
.inline input.inputs {width:193px;}
.inline label {margin:0 3px 0 0;padding:3px 0 0 0;white-space:nowrap;}

/*for one-column position elements*/
.one-col {width:420px;}
.one-col label {width:160px;}
.one-col label, .one-col div.inputs {margin-top:10px;}

.file-wr {padding-bottom:8px;overflow:hidden}	
.mask {width:400px; height:26px; background:url(../images/upload-file2.gif) no-repeat 0 0; margin:0;}
	.mask input {width:303px;margin:3px;height:18px;padding:3px 0 0 0;font:bold 14px Arial;color:#000;border:none;cursor:pointer;background:transparent;}
.MultiFile-wrap { width:400px; height:26px; position:absolute; }
.fileInput {width:400px; height:26px; position:absolute; opacity: 0; filter:alpha(opacity=0);}

/* Footer
---------------------*/
.footer {background:#f0f0f0;overflow:hidden;padding:10px 20px 0 20px}
	.footer .nav {width:250px;height:95px;}
	.footer .nav1 {width:200px;height:95px;}
	.footer .counters {float:right;padding-top:20px;}
		.footer .counters a {margin-left:20px;}
	.footer .nav1 li.news {padding-top:25px}
		.footer .nav li {width:50%;float:left;overflow:hidden;}
		.footer .nav li {width:50%;float:left;overflow:hidden;}
			.footer .nav1 li.create a {color:#000;}

	.footer .clear {background:#fff;overflow:hidden;padding:10px 0;margin:0 -20px ;clear:both;color:#aaa6a6;}
		.footer .clear a {color:#000}
		.footer .clear .mp3koxa_small {background:url(../images/mp3koza_small.gif) 0 0 no-repeat;width:81px;height:12px;display:inline-block;margin-left:5px}