/* Main content
-----------------------*/
/* line 4, ../../app/stylesheets/modules.scss */
.main .catalog {
  height: 40px;
  overflow: hidden;
  z-index: 50;
}
/* line 8, ../../app/stylesheets/modules.scss */
.main .catalog li {
  float: left;
  padding: 0 8px 0 5px;
  height: 40px;
}
/* line 12, ../../app/stylesheets/modules.scss */
.main .catalog a {
  font-size: 24px;
  font-weight: bold;
  padding-top: 4px;
  display: block;
}
/* line 17, ../../app/stylesheets/modules.scss */
.main .catalog li.selected {
  background: #ffd700 url(../images/catalog-tab.gif) bottom right no-repeat;
  padding: 0 0 0 0;
  height: 40px;
}
/* line 21, ../../app/stylesheets/modules.scss */
.main .catalog .selected a {
  background: url(../images/catalog-tab.gif) 0 0 no-repeat;
  padding: 4px 33px 0 18px;
  border: none;
}

/* line 26, ../../app/stylesheets/modules.scss */
.new-popular {
  position: relative;
  margin-top: 14px;
  clear: both;
}
/* line 30, ../../app/stylesheets/modules.scss */
.new-popular .corner-r {
  background: url(../images/corner-r.png) 100% 0 no-repeat;
  height: 6px;
  position: absolute;
  z-index: 200;
  height: 6px;
  width: 100%;
}
/* line 37, ../../app/stylesheets/modules.scss */
.new-popular .corner-lb {
  background: url(../images/corner-lb.png) 0 0 no-repeat;
  height: 6px;
}
/* line 40, ../../app/stylesheets/modules.scss */
.new-popular .corner-lb span {
  background: url(../images/corner-rb.png) 0 0 no-repeat;
  height: 6px;
  width: 6px;
  float: right;
}

/* line 46, ../../app/stylesheets/modules.scss */
.mp3-list {
  width: 100%;
  margin-bottom: 20px;
}
/* line 49, ../../app/stylesheets/modules.scss */
.mp3-list td {
  padding: 6px 0 3px 10px;
  font-weight: bold;
  vertical-align: top;
  color: #676767;
}
/* line 54, ../../app/stylesheets/modules.scss */
.mp3-list td.small {
  padding-left: 0;
  width: 22px;
}
/* line 57, ../../app/stylesheets/modules.scss */
.mp3-list tr.white td {
  background: #fff;
}
/* line 59, ../../app/stylesheets/modules.scss */
.mp3-list.add-to-cart, .mp3-list.listen, .mp3-list.favorites, .mp3-list.delete {
  background-image: url(../images/icons4.png);
  background-repeat: no-repeat;
  height: 16px;
  display: block;
}

/* line 65, ../../app/stylesheets/modules.scss */
.listen.play {
  background-image: url(../images/pause.png);
  background-repeat: no-repeat;
  height: 18px !important;
  width: 18px !important;
  display: block;
  background-position: 0 0 !important;
}

/* line 74, ../../app/stylesheets/modules.scss */
.mp3-list.listen {
  background-position: 0 -227px;
  width: 14px;
}
/* line 77, ../../app/stylesheets/modules.scss */
.mp3-list.delete {
  background-position: 0 -129px;
  width: 17px;
}
/* line 80, ../../app/stylesheets/modules.scss */
.mp3-list.favorites {
  background-position: 0 -249px;
  width: 16px;
}
/* line 83, ../../app/stylesheets/modules.scss */
.mp3-list.add-to-cart {
  background-position: 0 -57px;
  width: 16px;
  height: 18px;
}

/* line 88, ../../app/stylesheets/modules.scss */
.all-list {
  float: right;
  margin-top: -30px;
  padding-right: 15px;
  z-index: 100;
  position: relative;
}
/* line 94, ../../app/stylesheets/modules.scss */
.all-list a {
  color: #676767;
  font-size: 18px;
}

/* line 98, ../../app/stylesheets/modules.scss */
.p-c-buttons {
  overflow: hidden;
  padding-top: 12px;
}

	/* News
-------------------------*/
/* line 105, ../../app/stylesheets/modules.scss */
a.title {
  color: #ff9700;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

/* line 111, ../../app/stylesheets/modules.scss */
.news {
  overflow: hidden;
}
/* line 113, ../../app/stylesheets/modules.scss */
.news li {
  width: 49%;
  float: left;
  overflow: hidden;
  color: #676767;
  height: 220px;
  margin-bottom: 15px;
}
/* line 120, ../../app/stylesheets/modules.scss */
.news dl {
  height: 220px;
  padding-right: 15px;
}
/* line 123, ../../app/stylesheets/modules.scss */
.news dt.title {
  padding: 0 0 5px 0;
}
/* line 126, ../../app/stylesheets/modules.scss */
.news dd.photo {
  float: left;
  padding-right: 5px;
  height: 150px;
  width: 150px;
}
/* line 131, ../../app/stylesheets/modules.scss */
.news dd.photo img {
  border: 1px solid #b4b4b4;
  max-height: 150px;
  max-width: 150px;
}
/* line 135, ../../app/stylesheets/modules.scss */
.news dd.autor {
  padding-top: 7px;
  overflow: hidden;
}
/* line 138, ../../app/stylesheets/modules.scss */
.news dd.autor a {
  color: #7c7c7c;
  text-decoration: none;
  padding-top: 7px;
  overflow: hidden;
}
/* line 143, ../../app/stylesheets/modules.scss */
.news dd.autor a:hover {
  color: #d31402;
  text-decoration: underline;
}
/* line 146, ../../app/stylesheets/modules.scss */
.news dd.autor p {
  float: left;
  padding: 0 5px 0 22px;
  font-weight: bold;
  height: 16px;
}
/* line 151, ../../app/stylesheets/modules.scss */
.news dd.autor p.date {
  background: url(../images/icons5.png) 0 0 no-repeat;
}
/* line 153, ../../app/stylesheets/modules.scss */
.news dd.autor p.autor {
  background: url(../images/icons5.png) 0 -27px no-repeat;
}
/* line 155, ../../app/stylesheets/modules.scss */
.news dd.autor p.comments {
  background: url(../images/icons5.png) 0 -56px no-repeat;
}
/* line 157, ../../app/stylesheets/modules.scss */
.news dd.autor p.photo {
  background: url(../images/icons5.png) 0 -84px no-repeat;
}
/* line 159, ../../app/stylesheets/modules.scss */
.news dd.more {
  float: right;
  margin-right: 15px;
  padding-top: 2px;
}
/* line 163, ../../app/stylesheets/modules.scss */
.news a.more {
  font-weight: bold;
  text-decoration: underline;
  color: #ff9700;
  font-size: 14px;
}
/* line 168, ../../app/stylesheets/modules.scss */
.news a.more:hover {
  text-decoration: none;
}

/* line 171, ../../app/stylesheets/modules.scss */
dd.descr .red {
  font-weight: bold;
  display: block;
}

/* line 176, ../../app/stylesheets/modules.scss */
.news dl.n {
  background: url(../images/clip.png) 0 100% no-repeat;
}
/* line 178, ../../app/stylesheets/modules.scss */
.news li.dotes {
  background: url(../images/dotes.gif) 0 100% repeat-x;
}

	/* User-files
-------------------------*/
/* line 184, ../../app/stylesheets/modules.scss */
.user-files, .profile {
  margin-top: 14px;
  background: #ffd700;
  width: 100%;
  clear: both;
}

/* line 190, ../../app/stylesheets/modules.scss */
.user-files td, .profile td {
  vertical-align: top;
  padding: 7px 3px 3px 7px;
}

/* line 194, ../../app/stylesheets/modules.scss */
.user-files .index, .profile .index {
  padding-left: 17px;
}

/* line 197, ../../app/stylesheets/modules.scss */
.content .navigation {
  overflow: hidden;
}
/* line 200, ../../app/stylesheets/modules.scss */
.content .navigation ul li {
  float: left;
  font-size: 16px;
  font-weight: bold;
}
/* line 204, ../../app/stylesheets/modules.scss */
.content .navigation ul span {
  color: #d31402;
  font-size: 22px;
  display: block;
  margin-top: -6px;
  padding: 0 8px;
}
/* line 210, ../../app/stylesheets/modules.scss */
.content .navigation ul a {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 0 4px;
}
/* line 217, ../../app/stylesheets/modules.scss */
.content .navigation ul a:hover {
  color: #d31402;
}

	/* Profile
-------------------------*/
/* line 223, ../../app/stylesheets/modules.scss */
.profile {
  border-bottom: 26px solid #fed500;
}
/* line 225, ../../app/stylesheets/modules.scss */
.profile a {
  color: #060606;
}
/* line 227, ../../app/stylesheets/modules.scss */
.profile .red {
  width: 240px;
}

	/* Upload-files
----------------------*/
/* line 234, ../../app/stylesheets/modules.scss */
.upload-files .text {
  clear: left;
  padding: 2px 5px;
  border-color: #C6C6C6 #DCDCDC #DCDCDC #C6C6C6;
  border-style: solid;
  border-width: 2px 1px 1px 2px;
}
/* line 240, ../../app/stylesheets/modules.scss */
.upload-files .inline {
  padding: 10px 0;
}

/* line 243, ../../app/stylesheets/modules.scss */
.upload-list {
  overflow: hidden;
  font-size: 14px;
}
/* line 246, ../../app/stylesheets/modules.scss */
.upload-list li {
  overflow: hidden;
}
/* line 248, ../../app/stylesheets/modules.scss */
.upload-list label.numeric {
  float: left;
  padding: 6px 0 8px 17px;
  font-weight: bold;
  width: 27px;
  margin: 0;
}
/* line 254, ../../app/stylesheets/modules.scss */
.upload-list .file-wr {
  float: left;
  padding-bottom: 8px;
  overflow: hidden;
}
/* line 258, ../../app/stylesheets/modules.scss */
.upload-list .mask {
  width: 498px;
  height: 25px;
  background: url(../images/upload-file.gif) no-repeat 0 0;
  margin: 0;
}
/* line 263, ../../app/stylesheets/modules.scss */
.upload-list .mask input {
  font: bold 14px Arial;
  color: #000;
  border: none;
  cursor: pointer;
  width: 395px;
  background: transparent;
  margin: 3px;
  height: 21px;
}
/* line 272, ../../app/stylesheets/modules.scss */
.upload-list .MultiFile-wrap {
  width: 498px;
  height: 25px;
  position: absolute;
}
/* line 276, ../../app/stylesheets/modules.scss */
.upload-list .fileInput {
  width: 498px;
  height: 25px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 283, ../../app/stylesheets/modules.scss */
.upload-btn {
  display: block;
  width: 184px;
  height: 44px;
  background: url(../images/upload-btn.gif) 0 0 no-repeat;
  clear: left;
  border: none;
  cursor: pointer;
  margin: 15px 0 0 358px;
}

/* line 294, ../../app/stylesheets/modules.scss */
.upload-files .add {
  height: 26px;
  width: 24px;
  background: url(../images/icons2.gif) 0 0 no-repeat;
  margin-right: 18px;
  float: left;
}
/* line 300, ../../app/stylesheets/modules.scss */
.upload-files .delete {
  height: 26px;
  width: 25px;
  background: url(../images/icons2.gif) 100% 0 no-repeat;
  margin-right: 18px;
  float: left;
}
/* line 306, ../../app/stylesheets/modules.scss */
.upload-files .left {
  padding-left: 43px;
}
/* line 308, ../../app/stylesheets/modules.scss */
.upload-files .input {
  height: 23px;
  background: url(../images/input1.gif) 0 100% no-repeat;
  padding: 0 0 0 8px;
  margin-right: 20px;
}
/* line 313, ../../app/stylesheets/modules.scss */
.upload-files .input input {
  display: block;
  padding: 3px 0 0 5px;
  height: 20px;
  position: relative;
  background: url(../images/input1.gif) 100% 0 no-repeat;
  width: 177px;
  border: 0;
  font-size: 14px;
  margin: 0;
}

/* line 324, ../../app/stylesheets/modules.scss */
.inputs-wr {
  overflow: hidden;
}

	/* Top playlist
-----------------------------*/
/* line 330, ../../app/stylesheets/modules.scss */
.top-playlist {
  width: 100%;
  padding-top: 16px;
  color: #7a7a7a;
  overflow: hidden;
  font-size: 11px;
}
/* line 336, ../../app/stylesheets/modules.scss */
.top-playlist li {
  float: left;
  width: 258px;
  padding-bottom: 14px;
  height: 132px;
  overflow: hidden;
}
/* line 342, ../../app/stylesheets/modules.scss */
.top-playlist dd {
  float: left;
  width: 116px;
  height: 14px;
  overflow: hidden;
}
/* line 347, ../../app/stylesheets/modules.scss */
.top-playlist dd.photo {
  width: 137px;
  margin-right: 4px;
  height: auto;
}
/* line 351, ../../app/stylesheets/modules.scss */
.top-playlist dd.name {
  height: 56px;
}
/* line 353, ../../app/stylesheets/modules.scss */
.top-playlist dd.name a.name {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
}
/* line 358, ../../app/stylesheets/modules.scss */
.top-playlist dd.autor {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 362, ../../app/stylesheets/modules.scss */
.top-playlist dd.autor span {
  color: #a9d075;
  font-weight: bold;
}
/* line 365, ../../app/stylesheets/modules.scss */
.top-playlist .corn-top {
  height: 9px;
  position: absolute;
  width: 137px;
  display: block;
  background: url(../images/orange-corners.png) 100% -27px no-repeat;
}
/* line 371, ../../app/stylesheets/modules.scss */
.top-playlist .corn-top span {
  height: 9px;
  width: 9px;
  background: url(../images/orange-corners.png) 100% -18px no-repeat;
  float: left;
}
/* line 376, ../../app/stylesheets/modules.scss */
.top-playlist span.photo {
  padding: 0 3px;
  background: #ff9700;
  display: block;
  border-color: #ffc877;
  border-style: solid;
  border-width: 0 1px 0 1px;
  overflow: hidden;
}
/* line 384, ../../app/stylesheets/modules.scss */
.top-playlist span.photo img {
  width: 129px;
}
/* line 386, ../../app/stylesheets/modules.scss */
.top-playlist .corn-bot {
  height: 9px;
  position: absolute;
  width: 137px;
  display: block;
  background: url(../images/orange-corners.png) 100% 0 no-repeat;
  margin-top: -9px;
}
/* line 393, ../../app/stylesheets/modules.scss */
.top-playlist .corn-bot span {
  height: 9px;
  width: 9px;
  background: url(../images/orange-corners.png) 100% -9px no-repeat;
  float: left;
}

/* line 400, ../../app/stylesheets/modules.scss */
.all-list a {
  margin-left: 20px;
}
/* line 402, ../../app/stylesheets/modules.scss */
.all-list a.active {
  color: #ff9700;
}
/* line 404, ../../app/stylesheets/modules.scss */
.all-list select {
  margin-left: 50px;
}

/* line 408, ../../app/stylesheets/modules.scss */
.top-playlist-index dl {
  height: 122px;
  overflow: hidden;
  padding-right: 15px;
}
/* line 412, ../../app/stylesheets/modules.scss */
.top-playlist-index dd {
  float: right;
  clear: right;
}
/* line 413, ../../app/stylesheets/modules.scss */
.top-playlist-index dd.photo {
  width: 122px;
  float: left;
  height: 122px;
  overflow: hidden;
}
/* line 418, ../../app/stylesheets/modules.scss */
.top-playlist-index dd.photo img {
  max-width: 120px;
  max-height: 120px;
  vertical-align: bottom;
}
/* line 422, ../../app/stylesheets/modules.scss */
.top-playlist-index dd.photo a {
  border: 1px solid #b4b4b4;
  float: left;
}
/* line 427, ../../app/stylesheets/modules.scss */
.top-playlist-index li {
  float: left;
  width: 258px;
  padding-bottom: 14px;
}
/* line 431, ../../app/stylesheets/modules.scss */
.top-playlist-index dd.name {
  height: 46px;
}

	/* All News
----------------------------*/
/* line 437, ../../app/stylesheets/modules.scss */
p.news {
  padding-right: 195px;
}

/* line 440, ../../app/stylesheets/modules.scss */
ul.all-news {
  width: 100%;
  padding: 20px 0 30px 0;
  color: #858585;
  overflow: hidden;
  font-size: 14px;
}
/* line 446, ../../app/stylesheets/modules.scss */
ul.all-news li {
  padding: 0 0 24px 0;
  background: url(../images/dotes.gif) 0 5px repeat-x;
}
/* line 449, ../../app/stylesheets/modules.scss */
ul.all-news li dl {
  background: url(../images/clip.png) 0 0 no-repeat;
  padding-top: 35px;
  overflow: hidden;
  position: relative;
}
/* line 454, ../../app/stylesheets/modules.scss */
ul.all-news li.first {
  background: none;
  padding: 0 0 24px 0;
}
/* line 457, ../../app/stylesheets/modules.scss */
ul.all-news li.first dl {
  background: none;
  padding: 0;
}
/* line 460, ../../app/stylesheets/modules.scss */
ul.all-news dd.photo {
  width: 304px;
  float: left;
  padding-right: 11px;
}

/* line 466, ../../app/stylesheets/modules.scss */
.small-corners .corn-top {
  height: 6px;
  position: absolute;
  display: block;
  width: 304px;
  background: url(../images/orange-smallcorners.png) 100% -18px no-repeat;
}
/* line 472, ../../app/stylesheets/modules.scss */
.small-corners .corn-top span {
  height: 6px;
  width: 6px;
  background: url(../images/orange-smallcorners.png) 100% -12px no-repeat;
  float: left;
}
/* line 477, ../../app/stylesheets/modules.scss */
.small-corners .corn-bot {
  height: 6px;
  position: absolute;
  width: 304px;
  display: block;
  background: url(../images/orange-smallcorners.png) 100% 0 no-repeat;
  margin-top: -6px;
}
/* line 484, ../../app/stylesheets/modules.scss */
.small-corners .corn-bot span {
  height: 6px;
  width: 6px;
  background: url(../images/orange-smallcorners.png) 100% -6px no-repeat;
  float: left;
}
/* line 489, ../../app/stylesheets/modules.scss */
.small-corners span.photo {
  padding: 0 2px;
  background: #ff9700;
  display: block;
  border-color: #ffbb59;
  border-style: solid;
  border-width: 0 1px 0 1px;
  overflow: hidden;
}
/* line 497, ../../app/stylesheets/modules.scss */
.small-corners span.photo img {
  width: 298px;
}

/* line 501, ../../app/stylesheets/modules.scss */
.all-news dd.title a.title {
  font-size: 16px;
}
/* line 503, ../../app/stylesheets/modules.scss */
.all-news dd.autor p {
  float: left;
  padding: 0 20px 0 17px;
  font-weight: bold;
}
/* line 507, ../../app/stylesheets/modules.scss */
.all-news dd.autor p.date {
  background: url(../images/icons3.gif) 0 2px no-repeat;
}
/* line 509, ../../app/stylesheets/modules.scss */
.all-news dd.autor p.autor {
  background: url(../images/icons3.gif) 0 -16px no-repeat;
}
/* line 511, ../../app/stylesheets/modules.scss */
.all-news dd.autor p.comments {
  background: url(../images/icons3.gif) 0 -32px no-repeat;
}
/* line 513, ../../app/stylesheets/modules.scss */
.all-news dd.more {
  max-width: 130px;
  float: right;
}
/* line 516, ../../app/stylesheets/modules.scss */
.all-news dd.more a {
  font-weight: bold;
}

	/* New playlist
----------------------------*/
/* line 522, ../../app/stylesheets/modules.scss */
.new-playlist {
  padding: 0 0 20px 147px;
}
/* line 524, ../../app/stylesheets/modules.scss */
.new-playlist label {
  display: block;
  color: #676767;
  font-weight: bold;
  font-size: 16px;
  padding-top: 12px;
}
/* line 530, ../../app/stylesheets/modules.scss */
.new-playlist .yellow {
  margin-left: -147px;
  padding-top: 4px;
  color: #000;
}

/* line 535, ../../app/stylesheets/modules.scss */
.playlist-prev {
  width: 133px;
  margin: 12px 0 12px 0;
}

/* line 540, ../../app/stylesheets/modules.scss */
.new-playlist .playlist-prev {
  position: absolute;
  margin: 12px 0 0 -147px;
}
/* line 543, ../../app/stylesheets/modules.scss */
.new-playlist .corn-top {
  height: 6px;
  position: absolute;
  display: block;
  width: 133px;
  background: url(../images/gray-corners.png) 100% -18px no-repeat;
}
/* line 549, ../../app/stylesheets/modules.scss */
.new-playlist .corn-top span {
  height: 6px;
  width: 6px;
  background: url(../images/gray-corners.png) 100% -12px no-repeat;
  float: left;
}
/* line 554, ../../app/stylesheets/modules.scss */
.new-playlist .corn-bot {
  height: 6px;
  position: absolute;
  width: 133px;
  display: block;
  background: url(../images/gray-corners.png) 100% 0 no-repeat;
  margin-top: -6px;
}
/* line 561, ../../app/stylesheets/modules.scss */
.new-playlist .corn-bot span {
  height: 6px;
  width: 6px;
  background: url(../images/gray-corners.png) 100% -6px no-repeat;
  float: left;
}
/* line 566, ../../app/stylesheets/modules.scss */
.new-playlist span.photo {
  padding: 0 0 0 2px;
  background: #d5d5d5;
  display: block;
  border-color: #b0b0b0;
  border-style: solid;
  border-width: 0 1px 0 0;
  overflow: hidden;
}
/* line 574, ../../app/stylesheets/modules.scss */
.new-playlist span.photo img {
  width: 130px;
  vertical-align: bottom;
}
/* line 577, ../../app/stylesheets/modules.scss */
.new-playlist .mask {
  width: 400px;
  background: url(../images/upload-file2.gif) no-repeat 0 0;
  height: 26px;
}
/* line 581, ../../app/stylesheets/modules.scss */
.new-playlist .mask input {
  width: 303px;
  margin: 3px;
  height: 18px;
  padding: 3px 0 0 0;
}
/* line 586, ../../app/stylesheets/modules.scss */
.new-playlist .MultiFile-wrap, .new-playlist .fileInput {
  width: 400px;
  height: 26px;
}

	/* Edit playlist
----------------------------*/
/* line 594, ../../app/stylesheets/modules.scss */
ul.all-list li {
  float: left;
}
/* line 596, ../../app/stylesheets/modules.scss */
ul.all-list a {
  margin-left: 0;
}
/* line 598, ../../app/stylesheets/modules.scss */
ul.all-list a:hover {
  color: #d31402;
  border-bottom: 1px dotted #d31402;
}
/* line 601, ../../app/stylesheets/modules.scss */
ul.all-list .delete-playlist {
  margin-left: 64px;
  padding-left: 20px;
  background: url(../images/icons4.png) 0 -15px no-repeat;
}
/* line 605, ../../app/stylesheets/modules.scss */
ul.all-list .prev {
  padding-left: 22px;
  background: url(../images/icons4.png) 0 -34px no-repeat;
}
/* line 608, ../../app/stylesheets/modules.scss */
ul.all-list .next {
  margin-left: 20px;
  padding-right: 22px;
  background: url(../images/icons4.png) 100% 6px no-repeat;
}

/* line 613, ../../app/stylesheets/modules.scss */
.tracks-in-playlist {
  overflow: hidden;
  margin-right: 25px;
  float: right;
}
/* line 617, ../../app/stylesheets/modules.scss */
.tracks-in-playlist li {
  float: right;
  margin: 30px 0 0 0;
}

/* line 622, ../../app/stylesheets/modules.scss */
a.mix {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/icons4.png) 0 -81px no-repeat;
}
/* line 627, ../../app/stylesheets/modules.scss */
a.download {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background: url(../images/icons4.png) 0 -104px no-repeat;
}

/* line 634, ../../app/stylesheets/modules.scss */
p.info {
  width: 70%;
  margin-top: 30px;
  padding: 2px 0 0 22px;
  color: #676767;
  background: url(../images/info.png) 0 3px no-repeat;
  font-style: italic;
}

/* line 643, ../../app/stylesheets/modules.scss */
div.cart {
  clear: right;
}
/* line 645, ../../app/stylesheets/modules.scss */
div.cart p {
  background: url(../images/icons4.png) 0 -58px no-repeat;
  padding-left: 20px;
  float: right;
  margin-top: 30px;
}
/* line 650, ../../app/stylesheets/modules.scss */
div.cart a {
  color: #d31402;
  font-weight: bold;
}
/* line 653, ../../app/stylesheets/modules.scss */
div.player-wr {
  clear: both;
  max-width: 772px;
  margin: 8px 0;
  overflow: hidden;
}
/* line 658, ../../app/stylesheets/modules.scss */
div.player {
  background: url(../images/player.png) 0 0 no-repeat;
  margin-top: 8px;
  height: 19px;
  padding: 11px 16px;
  display: block;
}
/* line 664, ../../app/stylesheets/modules.scss */
div.player span, div.player i, div.player a {
  float: left;
  display: block;
}
/* line 667, ../../app/stylesheets/modules.scss */
div.player form.clip {
  width: 16px;
  float: left;
}

/* line 671, ../../app/stylesheets/modules.scss */
input.clip2 {
  background: url(../images/icons4.png) 0 -618px no-repeat;
  width: 13px;
  height: 17px;
  margin: 0 12px 0 0;
  display: block;
  float: left;
  border: none;
  cursor: pointer;
}

/* line 683, ../../app/stylesheets/modules.scss */
div.player a.clip {
  background: url(../images/icons4.png) 0 -484px no-repeat;
  width: 16px;
  height: 16px;
  margin: 1px 9px 0 0;
}
/* line 688, ../../app/stylesheets/modules.scss */
div.player a.clip2 {
  background: url(../images/icons4.png) 0 -451px no-repeat;
  width: 16px;
  height: 16px;
  margin: 1px 9px 0 0;
}
/* line 693, ../../app/stylesheets/modules.scss */
div.player .play {
  background: url(../images/icons4.png) 0 -516px no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 1px;
}
/* line 698, ../../app/stylesheets/modules.scss */
div.player .time {
  height: 16px;
  margin: 2px 9px 0 0;
  color: #5e5858;
  width: 72px;
  text-align: center;
}
/* line 704, ../../app/stylesheets/modules.scss */
div.player .sound {
  background: url(../images/icons4.png) 0 -583px no-repeat;
  width: 12px;
  height: 16px;
  margin: 1px 9px 0 0;
}
/* line 709, ../../app/stylesheets/modules.scss */
div.player .sound-off {
  background: url(../images/icons4.png) 0 -664px no-repeat;
  width: 15px;
  height: 16px;
  margin: 1px 6px 0 0;
}
/* line 714, ../../app/stylesheets/modules.scss */
div.player .volume {
  background: url(../images/volume.png) 0 0 no-repeat;
  width: 37px;
  height: 18px;
  cursor: pointer;
}
/* line 719, ../../app/stylesheets/modules.scss */
div.player .volume i.value {
  background: url(../images/volume.png) 0 100% no-repeat;
  height: 18px;
  cursor: pointer;
}
/* line 723, ../../app/stylesheets/modules.scss */
div.player .timeline {
  width: 490px;
  height: 18px;
  margin: 0 32px 0 6px;
  position: relative;
}
/* line 728, ../../app/stylesheets/modules.scss */
div.player .timeline a {
  z-index: 400;
}
/* line 730, ../../app/stylesheets/modules.scss */
div.player .timeline-act {
  background: url(../images/timeline-act.png) 0 0 repeat-x;
  height: 3px;
  position: absolute;
  z-index: 300;
  margin-top: 9px;
}
/* line 736, ../../app/stylesheets/modules.scss */
div.player .slider {
  background: url(../images/icons4.png) 0 -549px no-repeat;
  width: 17px;
  height: 18px;
}
/* line 740, ../../app/stylesheets/modules.scss */
div.player .slider-r {
  background: url(../images/icons4.png) 0 -549px no-repeat;
  width: 17px;
  height: 18px;
  float: right;
}

/* line 746, ../../app/stylesheets/modules.scss */
p.current-track {
  font-style: italic;
  font-weight: bold;
}

/* line 750, ../../app/stylesheets/modules.scss */
table.playlist {
  width: 100%;
  color: #5e5858;
  font-weight: bold;
}
/* line 754, ../../app/stylesheets/modules.scss */
table.playlist a {
  font-weight: bold;
}
/* line 756, ../../app/stylesheets/modules.scss */
table.playlist td {
  padding: 4px 5px;
  vertical-align: middle;
}
/* line 759, ../../app/stylesheets/modules.scss */
table.playlist tr.current td {
  background: #ecebeb;
}
/* line 762, ../../app/stylesheets/modules.scss */
table.playlist td.num {
  width: 25px;
}
/* line 764, ../../app/stylesheets/modules.scss */
table.playlist td.size {
  width: 30px;
}
/* line 766, ../../app/stylesheets/modules.scss */
table.playlist td.time {
  width: 35px;
}
/* line 768, ../../app/stylesheets/modules.scss */
table.playlist td.track-menu {
  width: 70px;
}
/* line 771, ../../app/stylesheets/modules.scss */
table.playlist ul.track-menu li {
  float: left;
}
/* line 773, ../../app/stylesheets/modules.scss */
table.playlist ul.track-menu a {
  margin-right: 5px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons4.png);
  background-repeat: no-repeat;
}
/* line 780, ../../app/stylesheets/modules.scss */
table.playlist .up {
  background-position: 0 -174px;
}
/* line 782, ../../app/stylesheets/modules.scss */
table.playlist .down {
  background-position: 1px -152px;
}
/* line 784, ../../app/stylesheets/modules.scss */
table.playlist .delete {
  background-position: 0 -129px;
  margin-left: 5px;
}

	/* Playlist
----------------------------*/
/* line 791, ../../app/stylesheets/modules.scss */
ul.all-list .edit-playlist {
  margin-left: 64px;
  padding-left: 20px;
  background: url(../images/icons4.png) 0 -272px no-repeat;
}

/* line 796, ../../app/stylesheets/modules.scss */
dl.playlist {
  margin: 23px 0 17px 0;
  overflow: hidden;
  font-size: 11px;
  height: 175px;
}

/* line 802, ../../app/stylesheets/modules.scss */
.playlist dd.playlist-prev {
  width: 133px;
  margin: 0 15px 12px 0;
  height: auto;
  float: left;
}

/* line 809, ../../app/stylesheets/modules.scss */
.playlist-prev .corn-top {
  height: 6px;
  position: absolute;
  display: block;
  width: 133px;
  background: url(../images/gray-corners.png) 100% -18px no-repeat;
}
/* line 815, ../../app/stylesheets/modules.scss */
.playlist-prev .corn-top span {
  height: 6px;
  width: 6px;
  background: url(../images/gray-corners.png) 100% -12px no-repeat;
  float: left;
}
/* line 820, ../../app/stylesheets/modules.scss */
.playlist-prev .corn-bot {
  height: 6px;
  position: absolute;
  width: 133px;
  display: block;
  background: url(../images/gray-corners.png) 100% 0 no-repeat;
  margin-top: -6px;
}
/* line 827, ../../app/stylesheets/modules.scss */
.playlist-prev .corn-bot span {
  height: 6px;
  width: 6px;
  background: url(../images/gray-corners.png) 100% -6px no-repeat;
  float: left;
}
/* line 832, ../../app/stylesheets/modules.scss */
.playlist-prev span.photo {
  padding: 0 0 0 2px;
  background: #d5d5d5;
  display: block;
  border-color: #b0b0b0;
  border-style: solid;
  border-width: 0 1px 0 0;
  overflow: hidden;
}
/* line 840, ../../app/stylesheets/modules.scss */
.playlist-prev span.photo img {
  width: 130px;
  vertical-align: bottom;
}

/* line 844, ../../app/stylesheets/modules.scss */
.playlist dd {
  overflow: hidden;
}
/* line 846, ../../app/stylesheets/modules.scss */
.playlist dd.descr {
  position: absolute;
  margin: 29px 0 0 354px;
  background: url(../images/inputs.gif) 0 0 no-repeat;
  padding: 1px 0 0 0;
  height: 140px;
  overflow: auto;
  width: 418px;
}
/* line 854, ../../app/stylesheets/modules.scss */
.playlist dd.descr span {
  overflow: auto;
  display: block;
  font: bold 14px Arial;
  font-style: italic;
  color: #b4b4b4;
  border: 1px #d3d3d3 solid;
  width: 364px;
  height: 140px;
  padding: 10px 17px;
  background: transparent;
}
/* line 865, ../../app/stylesheets/modules.scss */
.playlist dd.name {
  padding-bottom: 10px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
/* line 870, ../../app/stylesheets/modules.scss */
.playlist dd.name a.name {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
}
/* line 875, ../../app/stylesheets/modules.scss */
.playlist dd.autor {
  height: 20px;
}
/* line 877, ../../app/stylesheets/modules.scss */
.playlist dd.autor span {
  color: #a9d075;
  font-weight: bold;
}

/* line 882, ../../app/stylesheets/modules.scss */
table.playlist .listen {
  background-position: 0 -227px;
}
/* line 884, ../../app/stylesheets/modules.scss */
table.playlist .favorite {
  background-position: 0 -250px;
}
/* line 886, ../../app/stylesheets/modules.scss */
table.playlist .add-to-cart {
  background-position: 0 -59px;
}

	/* All News2
----------------------------*/
/* line 892, ../../app/stylesheets/modules.scss */
p.news {
  padding-right: 195px;
}

/* line 895, ../../app/stylesheets/modules.scss */
ul.all-news2 {
  width: 100%;
  padding: 20px 0 30px 0;
  color: #000;
  overflow: hidden;
  font-size: 12px;
}
/* line 901, ../../app/stylesheets/modules.scss */
ul.all-news2 li {
  padding: 0 0 5px 0;
  background: url(../images/dotes.gif) 0 5px repeat-x;
}
/* line 904, ../../app/stylesheets/modules.scss */
ul.all-news2 li dl {
  background: url(../images/clip.png) 0 0 no-repeat;
  padding-top: 25px;
  overflow: hidden;
  position: relative;
}
/* line 909, ../../app/stylesheets/modules.scss */
ul.all-news2 li.first {
  background: none;
}
/* line 911, ../../app/stylesheets/modules.scss */
ul.all-news2 li.first dl {
  background: none;
  padding: 0;
}
/* line 915, ../../app/stylesheets/modules.scss */
ul.all-news2 dd.photo a {
  float: left;
}
/* line 917, ../../app/stylesheets/modules.scss */
ul.all-news2 dd.photo img {
  max-width: 150px;
  max-height: 150px;
  float: left;
  border: 1px solid #b4b4b4;
  margin-right: 11px;
}

/* line 926, ../../app/stylesheets/modules.scss */
.all-news2 dd.title {
  padding: 0 0 10px 0;
}
/* line 928, ../../app/stylesheets/modules.scss */
.all-news2 dd.title a.title {
  font-size: 16px;
  color: #d31402;
}
/* line 931, ../../app/stylesheets/modules.scss */
.all-news2 dd.title a.title:hover {
  text-decoration: underline;
}
/* line 933, ../../app/stylesheets/modules.scss */
.all-news2 dd.body {
  padding: 10px 0;
}
/* line 935, ../../app/stylesheets/modules.scss */
.all-news2 dd.autor {
  overflow: hidden;
}
/* line 937, ../../app/stylesheets/modules.scss */
.all-news2 dd.autor p {
  float: left;
  padding: 0 20px 0 22px;
  font-weight: bold;
  height: 16px;
}
/* line 942, ../../app/stylesheets/modules.scss */
.all-news2 dd.autor a {
  color: #676767;
  text-decoration: none;
}
/* line 945, ../../app/stylesheets/modules.scss */
.all-news2 dd.autor a:hover {
  color: #d31402;
  text-decoration: underline;
}
/* line 949, ../../app/stylesheets/modules.scss */
.all-news2 dd.autor p.date {
  background: url(../images/icons5.png) 0 0 no-repeat;
}
/* line 951, ../../app/stylesheets/modules.scss */
.all-news2 dd.autor p.autor {
  background: url(../images/icons5.png) 0 -27px no-repeat;
}
/* line 953, ../../app/stylesheets/modules.scss */
.all-news2 dd.autor p.comments {
  background: url(../images/icons5.png) 0 -56px no-repeat;
}
/* line 955, ../../app/stylesheets/modules.scss */
.all-news2 dd.autor p.photo {
  background: url(../images/icons5.png) 0 -84px no-repeat;
}
/* line 957, ../../app/stylesheets/modules.scss */
.all-news2 dd.tags {
  background: white url(../images/icons5.png) 0 -169px no-repeat;
  font-size: 11px;
  color: #676767;
  margin-left: 165px;
  padding: 0 20px 0 22px;
  overflow: hidden;
}
/* line 964, ../../app/stylesheets/modules.scss */
.all-news2 dd.tags p {
  float: left;
}
/* line 966, ../../app/stylesheets/modules.scss */
.all-news2 dd.tags p.tags {
  width: 250px;
}
/* line 968, ../../app/stylesheets/modules.scss */
.all-news2 dd.tags p.tags a {
  color: #000;
  padding: 0 3px;
  text-decoration: none;
}
/* line 972, ../../app/stylesheets/modules.scss */
.all-news2 dd.tags p.tags a:hover {
  background: #ffd700;
}
/* line 974, ../../app/stylesheets/modules.scss */
.all-news2 dd.more {
  max-width: 130px;
}
/* line 976, ../../app/stylesheets/modules.scss */
.all-news2 a.more {
  font-weight: bold;
  float: right;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  padding-top: 2px;
  width: 120px;
  height: 26px;
  background: url(../images/buttons-small.png) 0 0 no-repeat;
}

	/* Inside News2
----------------------------*/
/* line 991, ../../app/stylesheets/modules.scss */
.inside-news {
  width: 100%;
  padding: 20px 0 15px 0;
  color: #000;
  overflow: hidden;
  font-size: 12px;
}
/* line 997, ../../app/stylesheets/modules.scss */
.inside-news dl {
  overflow: hidden;
  position: relative;
}
/* line 1002, ../../app/stylesheets/modules.scss */
.inside-news dd.photo a {
  float: left;
}
/* line 1004, ../../app/stylesheets/modules.scss */
.inside-news dd.photo img {
  float: left;
  border: 1px solid #b4b4b4;
  margin-right: 11px;
}
/* line 1008, ../../app/stylesheets/modules.scss */
.inside-news dd.title {
  padding: 0 0 10px 0;
}
/* line 1010, ../../app/stylesheets/modules.scss */
.inside-news dd.title a.title {
  font-size: 16px;
  color: #d31402;
}
/* line 1013, ../../app/stylesheets/modules.scss */
.inside-news dd.title a.title:hover {
  text-decoration: underline;
}
/* line 1015, ../../app/stylesheets/modules.scss */
.inside-news dd.body {
  padding: 10px 0;
}
/* line 1017, ../../app/stylesheets/modules.scss */
.inside-news dd.autor {
  overflow: hidden;
}
/* line 1019, ../../app/stylesheets/modules.scss */
.inside-news dd.autor a {
  color: #676767;
  text-decoration: none;
}
/* line 1022, ../../app/stylesheets/modules.scss */
.inside-news dd.autor a:hover {
  color: #d31402;
  text-decoration: underline;
}
/* line 1025, ../../app/stylesheets/modules.scss */
.inside-news dd.autor p {
  float: left;
  padding: 0 20px 0 22px;
  font-weight: bold;
  height: 16px;
}
/* line 1030, ../../app/stylesheets/modules.scss */
.inside-news dd.autor p.date {
  background: url(../images/icons5.png) 0 0 no-repeat;
}
/* line 1032, ../../app/stylesheets/modules.scss */
.inside-news dd.autor p.autor {
  background: url(../images/icons5.png) 0 -27px no-repeat;
}
/* line 1034, ../../app/stylesheets/modules.scss */
.inside-news dd.autor p.comments {
  background: url(../images/icons5.png) 0 -56px no-repeat;
}
/* line 1036, ../../app/stylesheets/modules.scss */
.inside-news dd.autor p.photo {
  background: url(../images/icons5.png) 0 -84px no-repeat;
}
/* line 1038, ../../app/stylesheets/modules.scss */
.inside-news dd.tags {
  background: white url(../images/icons5.png) 0 -169px no-repeat;
  font-size: 11px;
  color: #676767;
  margin-left: 165px;
  padding: 0 20px 0 22px;
  overflow: hidden;
}
/* line 1045, ../../app/stylesheets/modules.scss */
.inside-news div.tags {
  background: white url(../images/icons5.png) 0 -169px no-repeat;
  font-size: 11px;
  color: #676767;
  margin-left: 165px;
  padding: 0 20px 0 22px;
  overflow: hidden;
}
/* line 1052, ../../app/stylesheets/modules.scss */
.inside-news .tags p {
  float: left;
}
/* line 1054, ../../app/stylesheets/modules.scss */
.inside-news .tags p.tags {
  width: 250px;
}
/* line 1056, ../../app/stylesheets/modules.scss */
.inside-news .tags p.tags a {
  color: #000;
  padding: 0 3px;
  text-decoration: none;
}
/* line 1060, ../../app/stylesheets/modules.scss */
.inside-news .tags p.tags a:hover {
  background: #ffd700;
}
/* line 1062, ../../app/stylesheets/modules.scss */
.inside-news dd.more {
  max-width: 130px;
}
/* line 1064, ../../app/stylesheets/modules.scss */
.inside-news a.more {
  font-weight: bold;
  float: right;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  padding-top: 2px;
  width: 120px;
  height: 26px;
  background: url(../images/buttons-small.png) 0 0 no-repeat;
}

/* line 1076, ../../app/stylesheets/modules.scss */
.news-photo {
  overflow: hidden;
  padding: 15px 0 0 0;
}
/* line 1079, ../../app/stylesheets/modules.scss */
.news-photo li {
  float: left;
  margin: 0 15px 15px 0;
}
/* line 1082, ../../app/stylesheets/modules.scss */
.news-photo li img {
  border: 1px solid #ccc;
}

/* line 1085, ../../app/stylesheets/modules.scss */
.inside-news div.tags {
  margin-left: 0;
}

/* line 1088, ../../app/stylesheets/modules.scss */
.comments-list {
  font-size: 12px;
}
/* line 1090, ../../app/stylesheets/modules.scss */
.comments-list td {
  background: #f0f0f0;
  padding: 5px;
  border-top: 9px solid #fff;
  vertical-align: top;
}
/* line 1096, ../../app/stylesheets/modules.scss */
.comments-list td.autor a {
  color: #ff9700;
  text-decoration: none;
  font-weight: bold;
}
/* line 1100, ../../app/stylesheets/modules.scss */
.comments-list td.autor p {
  color: #000;
}
/* line 1102, ../../app/stylesheets/modules.scss */
.comments-list td.message {
  padding: 5px 15px;
}
/* line 1105, ../../app/stylesheets/modules.scss */
.comments-list ul.track-menu li {
  height: 16px;
  padding: 5px 0;
}
/* line 1108, ../../app/stylesheets/modules.scss */
.comments-list ul.track-menu a {
  margin-right: 5px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons4.png);
  background-repeat: no-repeat;
}
/* line 1115, ../../app/stylesheets/modules.scss */
.comments-list .edit {
  background-position: 0 -276px;
  margin-left: 5px;
}
/* line 1118, ../../app/stylesheets/modules.scss */
.comments-list .delete {
  background-position: 0 -129px;
  margin-left: 5px;
}

/* Login form
------------------------*/
/* line 1126, ../../app/stylesheets/modules.scss */
.login .small {
  width: 340px;
}
/* line 1128, ../../app/stylesheets/modules.scss */
.login .small label {
  width: 80px;
}
/* line 1130, ../../app/stylesheets/modules.scss */
.login label.fogot-pass {
  width: auto;
  float: none;
  clear: both;
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
}
/* line 1137, ../../app/stylesheets/modules.scss */
.login input.buttons {
  margin-top: 20px;
}

/* Add comment form
------------------------*/
/* line 1143, ../../app/stylesheets/modules.scss */
.add-comment {
  overflow: hidden;
  color: #676767;
  background: url(../images/dotes.gif) 0 5px repeat-x;
}
/* line 1147, ../../app/stylesheets/modules.scss */
.add-comment fieldset.comment {
  width: 555px;
  float: left;
  background: url(../images/clip.png) 0 0 no-repeat;
  padding-top: 20px;
}
/* line 1152, ../../app/stylesheets/modules.scss */
.add-comment .inline {
  width: 100%;
  padding: 0;
  clear: both;
}
/* line 1156, ../../app/stylesheets/modules.scss */
.add-comment input.buttons {
  background: #fecb2b url(../images/gray-btn.png) 0 0 no-repeat;
  border: none;
  width: 112px;
  height: 30px;
  margin: 0 20px 0 0;
  color: #000;
  font: bold 14px Arial;
  padding: 0;
  float: right;
}
/* line 1166, ../../app/stylesheets/modules.scss */
.add-comment div.textarea {
  clear: both;
  background: url(../images/textarea.png) 0 0 no-repeat;
  width: 529px;
  height: 126px;
  padding: 0 0 0 7px;
  margin: 8px 0;
}
/* line 1173, ../../app/stylesheets/modules.scss */
.add-comment div.textarea textarea.textarea {
  font: bold 14px Arial;
  color: #000;
  border: none;
  width: 522px;
  height: 116px;
  padding: 5px 7px 5px 0;
  margin: 0;
}
/* line 1181, ../../app/stylesheets/modules.scss */
.add-comment label {
  font-size: 14px;
  color: #7c7c7c;
  margin-top: 0;
  padding: 0;
  line-height: 11px;
}
/* line 1187, ../../app/stylesheets/modules.scss */
.add-comment label.comments {
  font-size: 18px;
  color: #000;
  padding: 10px 0 11px 0;
  float: left;
}
/* line 1192, ../../app/stylesheets/modules.scss */
.add-comment span.comments {
  font-size: 10px;
  float: left;
  font-weight: bold;
  color: #fff;
  background: url(../images/icons5.png) 0 -110px no-repeat;
  padding: 0 7px 5px 3px;
  height: 10px;
  margin: 7px 0 0 5px;
}
/* line 1203, ../../app/stylesheets/modules.scss */
.add-comment label i {
  font-size: 11px;
  display: block;
  font-weight: normal;
  line-height: 11px;
  color: #8e8e8e;
}
/* line 1209, ../../app/stylesheets/modules.scss */
.add-comment label.small {
  font-size: 11px;
  display: block;
  font-weight: normal;
  line-height: 11px;
  color: #8e8e8e;
  font-style: italic;
  padding-top: 5px;
}
/* line 1217, ../../app/stylesheets/modules.scss */
.add-comment .input1 {
  height: 30px;
  background: url(../images/input1.png) 0 100% no-repeat;
  padding: 0 0 0 7px;
  margin-right: 20px;
  float: left;
}
/* line 1223, ../../app/stylesheets/modules.scss */
.add-comment .input1 input {
  display: block;
  padding: 6px 7px 0 0;
  height: 24px;
  width: 157px;
  position: relative;
  background: url(../images/input1.png) 100% 0 no-repeat;
  border: 0;
  font-size: 14px;
  margin: 0;
}
/* line 1233, ../../app/stylesheets/modules.scss */
.add-comment fieldset.capcha {
  width: 220px;
  float: left;
  padding-top: 55px;
}
/* line 1237, ../../app/stylesheets/modules.scss */
.add-comment fieldset.capcha img {
  border: 1px #b4b4b4 solid;
}
/* line 1239, ../../app/stylesheets/modules.scss */
.add-comment input.capcha {
  border-width: 1px;
  border-color: #b0b2b8 #edeff3 #e4eaf0 #e4e5ec;
  border-style: solid;
  margin-top: 5px;
  width: 150px;
}
/* line 1245, ../../app/stylesheets/modules.scss */
.add-comment .invalid {
  padding-right: 20px;
  width: 155px;
  background: url(../images/icons5.png) 100% -132px no-repeat;
}

/* Orders
------------------------*/
/* line 1253, ../../app/stylesheets/modules.scss */
a.red {
  color: #d31402;
}

/* line 1257, ../../app/stylesheets/modules.scss */
ul.all-list .order {
  margin-left: 64px;
  padding-left: 22px;
  background: url(../images/icons4.png) 0 -358px no-repeat;
}
/* line 1261, ../../app/stylesheets/modules.scss */
ul.all-list .orders {
  margin-left: 64px;
  padding-left: 22px;
  background: url(../images/icons4.png) 0 -443px no-repeat;
}
/* line 1265, ../../app/stylesheets/modules.scss */
ul.all-list .order a:hover {
  color: #676767;
}
/* line 1267, ../../app/stylesheets/modules.scss */
ul.all-list .make {
  padding-left: 18px;
  background: url(../images/icons4.png) 0 -385px no-repeat;
}
/* line 1270, ../../app/stylesheets/modules.scss */
ul.all-list .make span {
  background: #ffd917;
  padding: 0 3px;
}
/* line 1273, ../../app/stylesheets/modules.scss */
ul.all-list .dont-make {
  margin-left: 20px;
  padding-right: 20px;
  background: url(../images/icons4.png) 100% -14px no-repeat;
}
/* line 1277, ../../app/stylesheets/modules.scss */
ul.all-list .dont-make span {
  background: #ffd917;
  padding: 0 3px;
}

/* line 1281, ../../app/stylesheets/modules.scss */
.order-menu {
  overflow: hidden;
  padding-top: 10px;
}
/* line 1284, ../../app/stylesheets/modules.scss */
.order-menu a {
  float: right;
  display: block;
  padding: 3px 10px 0 20px;
  height: 20px;
}
/* line 1289, ../../app/stylesheets/modules.scss */
.order-menu a.add {
  background: url(../images/icons4.png) 0 -273px no-repeat;
  float: left;
  color: #676767;
}
/* line 1293, ../../app/stylesheets/modules.scss */
.order-menu a.true {
  background: url(../images/icons4.png) 0 -416px no-repeat;
}
/* line 1295, ../../app/stylesheets/modules.scss */
.order-menu a.true:hover span {
  background: #ffd917;
}
/* line 1297, ../../app/stylesheets/modules.scss */
.order-menu a.all-answ {
  background: url(../images/icons5.png) 0 -55px no-repeat;
  color: #676767;
}

/* line 1301, ../../app/stylesheets/modules.scss */
p.hide-sub {
  float: right;
}
/* line 1303, ../../app/stylesheets/modules.scss */
p.hide-sub a.hide-sub {
  margin: -20px 0 0 10px;
  position: absolute;
  color: #676767;
  display: block;
}

/* line 1309, ../../app/stylesheets/modules.scss */
table.orders {
  margin: 15px 0;
  color: #656565;
  width: 100%;
}
/* line 1313, ../../app/stylesheets/modules.scss */
table.orders a:hover, table.orders td.number a:hover, table.orders p.number a:hover {
  color: #d31402;
}
/* line 1315, ../../app/stylesheets/modules.scss */
table.orders td {
  background: #f0f0f0;
  border-bottom: 11px solid #fff;
  padding: 5px 5px 8px 5px;
  vertical-align: top;
}
/* line 1320, ../../app/stylesheets/modules.scss */
table.orders p {
  position: relative;
}
/* line 1322, ../../app/stylesheets/modules.scss */
table.orders i {
  color: #000;
}
/* line 1325, ../../app/stylesheets/modules.scss */
table.orders td.autor {
  color: #000;
}
/* line 1327, ../../app/stylesheets/modules.scss */
table.orders td.number {
  white-space: nowrap;
  text-align: right;
}
/* line 1330, ../../app/stylesheets/modules.scss */
table.orders p.number {
  white-space: nowrap;
  text-align: right;
}
/* line 1333, ../../app/stylesheets/modules.scss */
table.orders td.number {
  padding-right: 12px;
}
/* line 1335, ../../app/stylesheets/modules.scss */
table.orders a.autor {
  color: #FF9700;
  font-weight: bold;
  display: block;
}
/* line 1339, ../../app/stylesheets/modules.scss */
table.orders td.number a, table.orders p.number a {
  color: #676767;
}
/* line 1342, ../../app/stylesheets/modules.scss */
table.orders tr.sub td {
  background: transparent;
  padding: 5px 0 5px 0;
  color: #000;
}
/* line 1346, ../../app/stylesheets/modules.scss */
table.orders tr.sub div.sub {
  margin-left: 20px;
  background-color: #fef3bc;
  float: left;
  width: 70%;
}
/* line 1351, ../../app/stylesheets/modules.scss */
table.orders tr.sub p {
  float: left;
  padding: 5px 1% 8px 1%;
}
/* line 1354, ../../app/stylesheets/modules.scss */
table.orders tr.sub p.autor {
  width: 18%;
  max-width: 200px;
}
/* line 1357, ../../app/stylesheets/modules.scss */
table.orders tr.sub a.autor {
  display: block;
}
/* line 1360, ../../app/stylesheets/modules.scss */
table.orders tr.sub p.comment {
  width: 62%;
  overflow: hidden;
}
/* line 1363, ../../app/stylesheets/modules.scss */
table.orders tr.sub p.number {
  text-align: right;
  height: 53px;
  float: right;
}
/* line 1368, ../../app/stylesheets/modules.scss */
table.orders tr.sub a.comment {
  color: #082cc8;
}
/* line 1370, ../../app/stylesheets/modules.scss */
table.orders tr.sub a.ok-btn {
  display: block;
  margin: 10px auto;
  width: 29px;
  height: 29px;
  background: url(../images/ok-big.png) 0 0 no-repeat;
}

/*overflow:hidden;display:table;243px;*/
/*Table-form*/
/* line 1381, ../../app/stylesheets/modules.scss */
form.order {
  width: 536px;
}
/* line 1383, ../../app/stylesheets/modules.scss */
form.order input, form.order .textarea {
  font: bold 14px Arial;
  font-style: italic;
  color: #000;
}
/* line 1387, ../../app/stylesheets/modules.scss */
form.order .clear {
  padding-bottom: 5px;
  height: 30px;
}
/* line 1390, ../../app/stylesheets/modules.scss */
form.order label {
  font-size: 18px;
  color: #000;
  font-weight: normal;
}
/* line 1394, ../../app/stylesheets/modules.scss */
form.order label.caption {
  font-size: 14px;
  color: #838383;
  width: 105px;
  float: left;
  margin: 5px 0;
  font-weight: bold;
}
/* line 1401, ../../app/stylesheets/modules.scss */
form.order label.caption2 {
  font-size: 14px;
  color: #838383;
  margin: 5px 0;
  font-weight: bold;
}
/* line 1406, ../../app/stylesheets/modules.scss */
form.order label.caption3 {
  font-size: 14px;
  color: #838383;
  margin: 5px 0;
  font-weight: bold;
  width: auto;
  height: 25px;
  float: left;
  margin: 5px;
}
/* line 1415, ../../app/stylesheets/modules.scss */
form.order .textarea {
  width: 536px;
}
/* line 1417, ../../app/stylesheets/modules.scss */
form.order .input1 {
  float: left;
  height: 30px;
  background: url(../images/input1.png) 0 100% no-repeat;
  padding: 0 0 0 7px;
}
/* line 1422, ../../app/stylesheets/modules.scss */
form.order .input1 input {
  display: block;
  padding: 6px 7px 0 0;
  height: 24px;
  width: 416px;
  position: relative;
  background: url(../images/input1.png) 100% 0 no-repeat;
  border: 0;
  margin: 0;
}
/* line 1431, ../../app/stylesheets/modules.scss */
form.order div.textarea {
  clear: both;
  background: url(../images/textarea.png) 0 0 no-repeat;
  width: 529px;
  height: 126px;
  padding: 0 0 0 7px;
  margin: 8px 0;
}
/* line 1438, ../../app/stylesheets/modules.scss */
form.order div.textarea textarea.textarea {
  border: none;
  width: 522px;
  height: 116px;
  padding: 5px 7px 5px 0;
  margin: 0;
}
/* line 1444, ../../app/stylesheets/modules.scss */
form.order input.buttons {
  background: #fecb2b url(../images/gray-btn.png) 0 0 no-repeat;
  border: none;
  width: 112px;
  height: 30px;
  margin: 0;
  color: #000;
  font: bold 14px Arial;
  padding: 0;
  float: right;
}

/*form.order div.inputs {display:inline-block;width:434px;}
form.order div.inputs input.inputs {width:428px;}*/
/* line 1458, ../../app/stylesheets/modules.scss */
.selectArea, .center_a, .selectArea .left, .scrollbar-up, .scrollbar-down, .scrollbar-handle {
  background: url(../images/selects.png) no-repeat;
}

/* line 1462, ../../app/stylesheets/modules.scss */
form.order .music {
  width: 150px;
}
/* line 1464, ../../app/stylesheets/modules.scss */
form.order .language {
  z-index: 98;
  width: 130px;
}
/* line 1467, ../../app/stylesheets/modules.scss */
form.order .sex {
  z-index: 97;
  width: 56px;
}

/* line 1471, ../../app/stylesheets/modules.scss */
.selectArea {
  height: 30px !important;
  background-position: 0 -60px;
  background-repeat: repeat-x;
  position: relative;
  z-index: 99;
  float: left;
}
/* line 1478, ../../app/stylesheets/modules.scss */
.selectArea input {
  color: #4e4e4e !important;
  font-size: 14px !important;
  border: none !important;
  background: none !important;
  position: absolute;
  top: 4px;
  left: 1px;
  width: 80% !important;
  height: 100% !important;
  font-family: Tahoma;
  padding: 0 0 0 7px !important;
  cursor: pointer;
  height: auto !important;
}

/* line 1493, ../../app/stylesheets/modules.scss */
.center_a {
  background-position: right -30px;
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
}

/* line 1502, ../../app/stylesheets/modules.scss */
* html .center_a {
  right: -1px;
  overflow: hidden;
}

/* line 1507, ../../app/stylesheets/modules.scss */
.selectArea .left {
  width: 7px;
  background-position: 0 0;
  left: 0;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 1515, ../../app/stylesheets/modules.scss */
.selectArea .optionsDivInvisible, .selectArea .optionsDivVisible {
  border-bottom: 1px solid #bdbcbd;
  background: #fff !important;
  top: 25px !important;
  position: absolute !important;
  margin: 0 !important;
  z-index: 200;
  text-align: left;
  left: 0 !important;
  width: 100% !important;
  overflow: hidden;
}

/* line 1527, ../../app/stylesheets/modules.scss */
.optionsDivVisible {
  display: block;
}

/* line 1530, ../../app/stylesheets/modules.scss */
.optionsDivInvisible {
  visibility: visible;
  display: none;
}

/* line 1535, ../../app/stylesheets/modules.scss */
.selectArea .optionsDivInvisible span {
  padding: 2px 0 !important;
  border-left: 1px solid #bdbcbd !important;
  border-right: 1px solid #bdbcbd !important;
  color: #4e4e4e !important;
  font-size: 14px !important;
  text-indent: 10px;
  display: block;
  height: 15px;
  cursor: pointer;
  margin: 0 !important;
  float: none !important;
  background: none;
  overflow: hidden;
}
/* line 1549, ../../app/stylesheets/modules.scss */
.selectArea .scrollbar-container span {
  margin-left: -5px !important;
}
/* line 1552, ../../app/stylesheets/modules.scss */
.selectArea .optionsDivInvisible span:hover, .selectArea .optionsDivInvisible span.over {
  background: #ebe9e9;
  color: #000 !important;
}

/* line 1556, ../../app/stylesheets/modules.scss */
.scrollbar-container {
  height: 143px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  position: relative !important;
  border-left: 1px solid #bdbcbd !important;
  border-right: 1px solid #bdbcbd !important;
  display: block !important;
  float: none !important;
  clear: none !important;
  width: auto !important;
}

/* line 1569, ../../app/stylesheets/modules.scss */
* html .scrollbar-container {
  width: 100% !important;
}

/* line 1572, ../../app/stylesheets/modules.scss */
.scrollbar-up {
  width: 15px;
  height: 13px;
  overflow: hidden;
  position: absolute !important;
  top: 0;
  right: 0;
  left: auto;
  cursor: pointer;
  z-index: 40;
  background-position: -6px -91px;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 1586, ../../app/stylesheets/modules.scss */
.scrollbar-down {
  width: 15px;
  height: 13px;
  overflow: hidden;
  position: absolute !important;
  top: 0;
  right: 0;
  left: auto;
  cursor: pointer;
  z-index: 40;
  background-position: -6px -91px;
  margin: 0 !important;
  padding: 0 !important;
  top: auto;
  bottom: 0;
  background-position: -6px -78px;
}

/* line 1603, ../../app/stylesheets/modules.scss */
.scrollbar-track {
  height: 117px;
  width: 15px;
  background: #f4f6f8;
  position: absolute !important;
  top: 13px;
  right: 0;
  z-index: 30;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 1615, ../../app/stylesheets/modules.scss */
* html .scrollbar-track, * html .scrollbar-up, * html .scrollbar-down {
  right: 0px;
}

/* line 1618, ../../app/stylesheets/modules.scss */
.scrollbar-handle {
  cursor: pointer;
  position: absolute !important;
  right: 0;
  top: 0;
  width: 15px;
  height: 27px;
  overflow: hidden;
  margin: 0 !important;
  background-position: -6px -104px;
  display: block;
}

/* line 1630, ../../app/stylesheets/modules.scss */
.container2 {
  height: 103px;
  width: 100% !important;
  clear: none !important;
  position: static !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 1638, ../../app/stylesheets/modules.scss */
.scroller-container {
  top: 0;
  left: 0;
  z-index: 20;
  position: absolute !important;
  width: 1000px !important;
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 1648, ../../app/stylesheets/modules.scss */
.selectArea .optionsDivInvisible .scroller-container span {
  border: none !important;
}

/* line 1651, ../../app/stylesheets/modules.scss */
#vmusic, #vsex, #vlanguage {
  margin-top: 3px;
}

/* Download Table
---------------------*/
/* line 1658, ../../app/stylesheets/modules.scss */
.download .name {
  padding-left: 37px;
}
/* line 1660, ../../app/stylesheets/modules.scss */
.download td.red {
  color: #d31402;
  vertical-align: middle;
}
/* line 1663, ../../app/stylesheets/modules.scss */
.download a.black {
  color: #000;
}
/* line 1665, ../../app/stylesheets/modules.scss */
.download ul.formats {
  float: right;
  margin: 5px 0;
}
/* line 1668, ../../app/stylesheets/modules.scss */
.download ul.formats li {
  float: left;
  margin: 0 5px;
}
/* line 1671, ../../app/stylesheets/modules.scss */
.download ul.formats a {
  color: #000;
}
