/*.edit {background:url(../images/edit.png) no-repeat;width:14px;height:14px;display:block;border:none}*/
.info .tag-cloud {padding:5px 0 10px 0;}
.info .tag-cloud a {margin:0;font-weight:normal;}
.info  .tag-cloud  li {font-weight:normal;margin-top:0;padding:0;border-top:none;}

