/* v1.0 | 20080212 */
/* line 3, ../../app/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 12, ../../app/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 15, ../../app/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 18, ../../app/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 22, ../../app/stylesheets/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 27, ../../app/stylesheets/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 33, ../../app/stylesheets/reset.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 38, ../../app/stylesheets/reset.scss */
ins {
  text-decoration: none;
}

/* line 41, ../../app/stylesheets/reset.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 46, ../../app/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
