/* line 1, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination {
  background: white;
  font-size: 16px;
  font-weight: bold;
  color: #7F7F7F;
  display: block;
  padding: 0 4px;
  text-decoration: none;
  /* self-clearing method: */
}
/* line 10, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination a {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 15, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination span {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 20, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination span.disabled {
  color: #999;
  /* border: 1px solid #DDD; */
}
/* line 23, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination span.current {
  color: #D31402;
  display: block;
  font-size: 22px;
  margin-top: -6px;
  padding: 0 8px;
}
/* line 29, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination a {
  text-decoration: none;
  color: #7F7F7F;
  /* border: 1px solid #9AAFE5;  */
}
/* line 33, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination a:hover, .mp3_pagination a:focus {
  color: #D31402;
  /* border-color: #003; */
}
/* line 36, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination .page_info {
  background: #2E6AB1;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center;
}
/* line 43, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination .page_info b {
  color: #003;
  background: #6aa6ed;
  padding: .1em .25em;
}
/* line 47, ../../app/stylesheets/will_paginate.scss */
.mp3_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 55, ../../app/stylesheets/will_paginate.scss */
* html .mp3_pagination {
  height: 1%;
}
/* line 57, ../../app/stylesheets/will_paginate.scss */
*:first-child + html .mp3_pagination {
  overflow: hidden;
}
