<% if session[:archive] %>
  <div id="link"><%= render :partial => "archives/archive_link" %></div>
<% end %>

<div class="new-popular">
  <div class="corner-r"></div>
  <div id="result"></div>
  <div id="your_link"></div>
  <table id="tracks" class="mp3-list">
    <div id="result"></div>
    <% form_for @archive, :html => {:id => "cart"} do |f| %>
      <% @tracks.each_with_index do |track, index| %>
        <%= render :partial => "tracks/track", :locals => {:track => track, :index => index, :count_downloads => false} %>
      <% end %>
      <%= submit_tag "Создать архив для скачивания", :id => "create_archive" %>
      <%= submit_tag "Удалить выбранные", :name => "delete", :id => "delete_tracks" %>
    <% end %>
  </table>
	<div class="corner-lb"><span></span></div>
</div>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#cart").submit(function(){
       $.ajax({
             "url": $(this).attr('action')+'.js',
            "data": $(this).serialize(),
            "type": "POST",
         "success": function(data) { },
          });
       return false;
    });
  });
</script>

