<table border="1">
  <tr>
    <td>
      <p>Поиск по трекам: <%= render :partial => 'shared/search_form_track' %></p>
    </td>
    <td>
      <p>Поиск по плейлистам: <%= render :partial => 'shared/search_form_playlist' %></p>
    </td>
    <td>
      <p>поиск по новостям: <%= render :partial => 'shared/search_form_news_item' %></p>
    </td>
  </tr>
</table>

