/* Main content
-----------------------*/

.main .catalog {
  height: 40px;
  overflow: hidden;
  z-index: 50;
  li {
    float: left;
    padding: 0 8px 0 5px;
    height: 40px; }
  a {
    font-size: 24px;
    font-weight: bold;
    padding-top: 4px;
    display: block; }
  li.selected {
    background: #ffd700 url(../images/catalog-tab.gif) bottom right no-repeat;
    padding: 0 0 0 0;
    height: 40px; }
  .selected a {
    background: url(../images/catalog-tab.gif) 0 0 no-repeat;
    padding: 4px 33px 0 18px;
    border: none; } }

.new-popular {
  position: relative;
  margin-top: 14px;
  clear: both;
  .corner-r {
    background: url(../images/corner-r.png) 100% 0 no-repeat;
    height: 6px;
    position: absolute;
    z-index: 200;
    height: 6px;
    width: 100%; }
  .corner-lb {
    background: url(../images/corner-lb.png) 0 0 no-repeat;
    height: 6px;
    span {
      background: url(../images/corner-rb.png) 0 0 no-repeat;
      height: 6px;
      width: 6px;
      float: right; } } }

.mp3-list {
  width: 100%;
  margin-bottom: 20px;
  td {
    padding: 6px 0 3px 10px;
    font-weight: bold;
    vertical-align: top;
    color: #676767;
    &.small {
      padding-left: 0;
      width: 22px; } }
  tr.white td {
    background: #fff; }
  .add-to-cart, .listen, .favorites, .delete {
    background-image: url(../images/icons4.png);
    background-repeat: no-repeat;
    height: 16px;
    display: block; } }

.listen.play {
  background-image: url(../images/pause.png);
  background-repeat: no-repeat;
  height: 18px !important;
  width: 18px !important;
  display: block;
  background-position: 0 0 !important; }

.mp3-list {
  .listen {
    background-position: 0 -227px;
    width: 14px; }
  .delete {
    background-position: 0 -129px;
    width: 17px; }
  .favorites {
    background-position: 0 -249px;
    width: 16px; }
  .add-to-cart {
    background-position: 0 -57px;
    width: 16px;
    height: 18px; } }

.all-list {
  float: right;
  margin-top: -30px;
  padding-right: 15px;
  z-index: 100;
  position: relative;
  a {
    color: #676767;
    font-size: 18px; } }

.p-c-buttons {
  overflow: hidden;
  padding-top: 12px; }

	/* News
-------------------------*/

a.title {
  color: #ff9700;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px; }

.news {
  overflow: hidden;
  li {
    width: 49%;
    float: left;
    overflow: hidden;
    color: #676767;
    height: 220px;
    margin-bottom: 15px; }
  dl {
    height: 220px;
    padding-right: 15px; }
  dt.title {
    padding: 0 0 5px 0; }
  dd {
    &.photo {
      float: left;
      padding-right: 5px;
      height: 150px;
      width: 150px;
      img {
        border: 1px solid #b4b4b4;
        max-height: 150px;
        max-width: 150px; } }
    &.autor {
      padding-top: 7px;
      overflow: hidden;
      a {
        color: #7c7c7c;
        text-decoration: none;
        padding-top: 7px;
        overflow: hidden;
        &:hover {
          color: #d31402;
          text-decoration: underline; } }
      p {
        float: left;
        padding: 0 5px 0 22px;
        font-weight: bold;
        height: 16px;
        &.date {
          background: url(../images/icons5.png) 0 0 no-repeat; }
        &.autor {
          background: url(../images/icons5.png) 0 -27px no-repeat; }
        &.comments {
          background: url(../images/icons5.png) 0 -56px no-repeat; }
        &.photo {
          background: url(../images/icons5.png) 0 -84px no-repeat; } } }
    &.more {
      float: right;
      margin-right: 15px;
      padding-top: 2px; } }
  a.more {
    font-weight: bold;
    text-decoration: underline;
    color: #ff9700;
    font-size: 14px;
    &:hover {
      text-decoration: none; } } }

dd.descr .red {
  font-weight: bold;
  display: block; }

.news {
  dl.n {
    background: url(../images/clip.png) 0 100% no-repeat; }
  li.dotes {
    background: url(../images/dotes.gif) 0 100% repeat-x; } }

	/* User-files
-------------------------*/

.user-files, .profile {
  margin-top: 14px;
  background: #ffd700;
  width: 100%;
  clear: both; }

.user-files td, .profile td {
  vertical-align: top;
  padding: 7px 3px 3px 7px; }

.user-files .index, .profile .index {
  padding-left: 17px; }

.content .navigation {
  overflow: hidden;
  ul {
    li {
      float: left;
      font-size: 16px;
      font-weight: bold; }
    span {
      color: #d31402;
      font-size: 22px;
      display: block;
      margin-top: -6px;
      padding: 0 8px; }
    a {
      color: #7f7f7f;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      display: block;
      padding: 0 4px;
      &:hover {
        color: #d31402; } } } }

	/* Profile
-------------------------*/

.profile {
  border-bottom: 26px solid #fed500;
  a {
    color: #060606; }
  .red {
    width: 240px; } }

	/* Upload-files
----------------------*/

.upload-files {
  .text {
    clear: left;
    padding: 2px 5px;
    border-color: #C6C6C6 #DCDCDC #DCDCDC #C6C6C6;
    border-style: solid;
    border-width: 2px 1px 1px 2px; }
  .inline {
    padding: 10px 0; } }

.upload-list {
  overflow: hidden;
  font-size: 14px;
  li {
    overflow: hidden; }
  label.numeric {
    float: left;
    padding: 6px 0 8px 17px;
    font-weight: bold;
    width: 27px;
    margin: 0; }
  .file-wr {
    float: left;
    padding-bottom: 8px;
    overflow: hidden; }
  .mask {
    width: 498px;
    height: 25px;
    background: url(../images/upload-file.gif) no-repeat 0 0;
    margin: 0;
    input {
      font: bold 14px Arial;
      color: #000;
      border: none;
      cursor: pointer;
      width: 395px;
      background: transparent;
      margin: 3px;
      height: 21px; } }
  .MultiFile-wrap {
    width: 498px;
    height: 25px;
    position: absolute; }
  .fileInput {
    width: 498px;
    height: 25px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0); } }

.upload-btn {
  display: block;
  width: 184px;
  height: 44px;
  background: url(../images/upload-btn.gif) 0 0 no-repeat;
  clear: left;
  border: none;
  cursor: pointer;
  margin: 15px 0 0 358px; }

.upload-files {
  .add {
    height: 26px;
    width: 24px;
    background: url(../images/icons2.gif) 0 0 no-repeat;
    margin-right: 18px;
    float: left; }
  .delete {
    height: 26px;
    width: 25px;
    background: url(../images/icons2.gif) 100% 0 no-repeat;
    margin-right: 18px;
    float: left; }
  .left {
    padding-left: 43px; }
  .input {
    height: 23px;
    background: url(../images/input1.gif) 0 100% no-repeat;
    padding: 0 0 0 8px;
    margin-right: 20px;
    input {
      display: block;
      padding: 3px 0 0 5px;
      height: 20px;
      position: relative;
      background: url(../images/input1.gif) 100% 0 no-repeat;
      width: 177px;
      border: 0;
      font-size: 14px;
      margin: 0; } } }

.inputs-wr {
  overflow: hidden; }

	/* Top playlist
-----------------------------*/

.top-playlist {
  width: 100%;
  padding-top: 16px;
  color: #7a7a7a;
  overflow: hidden;
  font-size: 11px;
  li {
    float: left;
    width: 258px;
    padding-bottom: 14px;
    height: 132px;
    overflow: hidden; }
  dd {
    float: left;
    width: 116px;
    height: 14px;
    overflow: hidden;
    &.photo {
      width: 137px;
      margin-right: 4px;
      height: auto; }
    &.name {
      height: 56px;
      a.name {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        line-height: 12px; } }
    &.autor {
      height: 20px;
      white-space: nowrap;
      overflow: hidden;
      span {
        color: #a9d075;
        font-weight: bold; } } }
  .corn-top {
    height: 9px;
    position: absolute;
    width: 137px;
    display: block;
    background: url(../images/orange-corners.png) 100% -27px no-repeat;
    span {
      height: 9px;
      width: 9px;
      background: url(../images/orange-corners.png) 100% -18px no-repeat;
      float: left; } }
  span.photo {
    padding: 0 3px;
    background: #ff9700;
    display: block;
    border-color: #ffc877;
    border-style: solid;
    border-width: 0 1px 0 1px;
    overflow: hidden;
    img {
      width: 129px; } }
  .corn-bot {
    height: 9px;
    position: absolute;
    width: 137px;
    display: block;
    background: url(../images/orange-corners.png) 100% 0 no-repeat;
    margin-top: -9px;
    span {
      height: 9px;
      width: 9px;
      background: url(../images/orange-corners.png) 100% -9px no-repeat;
      float: left; } } }

.all-list {
  a {
    margin-left: 20px;
    &.active {
      color: #ff9700; } }
  select {
    margin-left: 50px; } }

.top-playlist-index {
  dl {
    height: 122px;
    overflow: hidden;
    padding-right: 15px; }
  dd {
    &.photo {
      width: 122px;
      float: left;
      height: 122px;
      overflow: hidden;
      img {
        max-width: 120px;
        max-height: 120px;
        vertical-align: bottom; }
      a {
        border: 1px solid #b4b4b4;
        float: left; } }
    float: right;
    clear: right; }
  li {
    float: left;
    width: 258px;
    padding-bottom: 14px; }
  dd.name {
    height: 46px; } }

	/* All News
----------------------------*/

p.news {
  padding-right: 195px; }

ul.all-news {
  width: 100%;
  padding: 20px 0 30px 0;
  color: #858585;
  overflow: hidden;
  font-size: 14px;
  li {
    padding: 0 0 24px 0;
    background: url(../images/dotes.gif) 0 5px repeat-x;
    dl {
      background: url(../images/clip.png) 0 0 no-repeat;
      padding-top: 35px;
      overflow: hidden;
      position: relative; }
    &.first {
      background: none;
      padding: 0 0 24px 0;
      dl {
        background: none;
        padding: 0; } } }
  dd.photo {
    width: 304px;
    float: left;
    padding-right: 11px; } }

.small-corners {
  .corn-top {
    height: 6px;
    position: absolute;
    display: block;
    width: 304px;
    background: url(../images/orange-smallcorners.png) 100% -18px no-repeat;
    span {
      height: 6px;
      width: 6px;
      background: url(../images/orange-smallcorners.png) 100% -12px no-repeat;
      float: left; } }
  .corn-bot {
    height: 6px;
    position: absolute;
    width: 304px;
    display: block;
    background: url(../images/orange-smallcorners.png) 100% 0 no-repeat;
    margin-top: -6px;
    span {
      height: 6px;
      width: 6px;
      background: url(../images/orange-smallcorners.png) 100% -6px no-repeat;
      float: left; } }
  span.photo {
    padding: 0 2px;
    background: #ff9700;
    display: block;
    border-color: #ffbb59;
    border-style: solid;
    border-width: 0 1px 0 1px;
    overflow: hidden;
    img {
      width: 298px; } } }

.all-news dd {
  &.title a.title {
    font-size: 16px; }
  &.autor p {
    float: left;
    padding: 0 20px 0 17px;
    font-weight: bold;
    &.date {
      background: url(../images/icons3.gif) 0 2px no-repeat; }
    &.autor {
      background: url(../images/icons3.gif) 0 -16px no-repeat; }
    &.comments {
      background: url(../images/icons3.gif) 0 -32px no-repeat; } }
  &.more {
    max-width: 130px;
    float: right;
    a {
      font-weight: bold; } } }

	/* New playlist
----------------------------*/

.new-playlist {
  padding: 0 0 20px 147px;
  label {
    display: block;
    color: #676767;
    font-weight: bold;
    font-size: 16px;
    padding-top: 12px; }
  .yellow {
    margin-left: -147px;
    padding-top: 4px;
    color: #000; } }

.playlist-prev {
  width: 133px;
  margin: 12px 0 12px 0; }

.new-playlist {
  .playlist-prev {
    position: absolute;
    margin: 12px 0 0 -147px; }
  .corn-top {
    height: 6px;
    position: absolute;
    display: block;
    width: 133px;
    background: url(../images/gray-corners.png) 100% -18px no-repeat;
    span {
      height: 6px;
      width: 6px;
      background: url(../images/gray-corners.png) 100% -12px no-repeat;
      float: left; } }
  .corn-bot {
    height: 6px;
    position: absolute;
    width: 133px;
    display: block;
    background: url(../images/gray-corners.png) 100% 0 no-repeat;
    margin-top: -6px;
    span {
      height: 6px;
      width: 6px;
      background: url(../images/gray-corners.png) 100% -6px no-repeat;
      float: left; } }
  span.photo {
    padding: 0 0 0 2px;
    background: #d5d5d5;
    display: block;
    border-color: #b0b0b0;
    border-style: solid;
    border-width: 0 1px 0 0;
    overflow: hidden;
    img {
      width: 130px;
      vertical-align: bottom; } }
  .mask {
    width: 400px;
    background: url(../images/upload-file2.gif) no-repeat 0 0;
    height: 26px;
    input {
      width: 303px;
      margin: 3px;
      height: 18px;
      padding: 3px 0 0 0; } }
  .MultiFile-wrap, .fileInput {
    width: 400px;
    height: 26px; } }

	/* Edit playlist
----------------------------*/

ul.all-list {
  li {
    float: left; }
  a {
    margin-left: 0;
    &:hover {
      color: #d31402;
      border-bottom: 1px dotted #d31402; } }
  .delete-playlist {
    margin-left: 64px;
    padding-left: 20px;
    background: url(../images/icons4.png) 0 -15px no-repeat; }
  .prev {
    padding-left: 22px;
    background: url(../images/icons4.png) 0 -34px no-repeat; }
  .next {
    margin-left: 20px;
    padding-right: 22px;
    background: url(../images/icons4.png) 100% 6px no-repeat; } }

.tracks-in-playlist {
  overflow: hidden;
  margin-right: 25px;
  float: right;
  li {
    float: right;
    margin: 30px 0 0 0; } }

a {
  &.mix {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/icons4.png) 0 -81px no-repeat; }
  &.download {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background: url(../images/icons4.png) 0 -104px no-repeat; } }

p.info {
  width: 70%;
  margin-top: 30px;
  padding: 2px 0 0 22px;
  color: #676767;
  background: url(../images/info.png) 0 3px no-repeat;
  font-style: italic; }

div {
  &.cart {
    clear: right;
    p {
      background: url(../images/icons4.png) 0 -58px no-repeat;
      padding-left: 20px;
      float: right;
      margin-top: 30px; }
    a {
      color: #d31402;
      font-weight: bold; } }
  &.player-wr {
    clear: both;
    max-width: 772px;
    margin: 8px 0;
    overflow: hidden; }
  &.player {
    background: url(../images/player.png) 0 0 no-repeat;
    margin-top: 8px;
    height: 19px;
    padding: 11px 16px;
    display: block;
    span, i, a {
      float: left;
      display: block; }
    form.clip {
      width: 16px;
      float: left; } } }

input.clip2 {
  background: url(../images/icons4.png) 0 -618px no-repeat;
  width: 13px;
  height: 17px;
  margin: 0 12px 0 0;
  display: block;
  float: left;
  border: none;
  cursor: pointer; }

div.player {
  a {
    &.clip {
      background: url(../images/icons4.png) 0 -484px no-repeat;
      width: 16px;
      height: 16px;
      margin: 1px 9px 0 0; }
    &.clip2 {
      background: url(../images/icons4.png) 0 -451px no-repeat;
      width: 16px;
      height: 16px;
      margin: 1px 9px 0 0; } }
  .play {
    background: url(../images/icons4.png) 0 -516px no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 1px; }
  .time {
    height: 16px;
    margin: 2px 9px 0 0;
    color: #5e5858;
    width: 72px;
    text-align: center; }
  .sound {
    background: url(../images/icons4.png) 0 -583px no-repeat;
    width: 12px;
    height: 16px;
    margin: 1px 9px 0 0; }
  .sound-off {
    background: url(../images/icons4.png) 0 -664px no-repeat;
    width: 15px;
    height: 16px;
    margin: 1px 6px 0 0; }
  .volume {
    background: url(../images/volume.png) 0 0 no-repeat;
    width: 37px;
    height: 18px;
    cursor: pointer;
    i.value {
      background: url(../images/volume.png) 0 100% no-repeat;
      height: 18px;
      cursor: pointer; } }
  .timeline {
    width: 490px;
    height: 18px;
    margin: 0 32px 0 6px;
    position: relative;
    a {
      z-index: 400; } }
  .timeline-act {
    background: url(../images/timeline-act.png) 0 0 repeat-x;
    height: 3px;
    position: absolute;
    z-index: 300;
    margin-top: 9px; }
  .slider {
    background: url(../images/icons4.png) 0 -549px no-repeat;
    width: 17px;
    height: 18px; }
  .slider-r {
    background: url(../images/icons4.png) 0 -549px no-repeat;
    width: 17px;
    height: 18px;
    float: right; } }

p.current-track {
  font-style: italic;
  font-weight: bold; }

table.playlist {
  width: 100%;
  color: #5e5858;
  font-weight: bold;
  a {
    font-weight: bold; }
  td {
    padding: 4px 5px;
    vertical-align: middle; }
  tr.current td {
    background: #ecebeb; }
  td {
    &.num {
      width: 25px; }
    &.size {
      width: 30px; }
    &.time {
      width: 35px; }
    &.track-menu {
      width: 70px; } }
  ul.track-menu {
    li {
      float: left; }
    a {
      margin-right: 5px;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(../images/icons4.png);
      background-repeat: no-repeat; } }
  .up {
    background-position: 0 -174px; }
  .down {
    background-position: 1px -152px; }
  .delete {
    background-position: 0 -129px;
    margin-left: 5px; } }

	/* Playlist
----------------------------*/

ul.all-list .edit-playlist {
  margin-left: 64px;
  padding-left: 20px;
  background: url(../images/icons4.png) 0 -272px no-repeat; }

dl.playlist {
  margin: 23px 0 17px 0;
  overflow: hidden;
  font-size: 11px;
  height: 175px; }

.playlist dd.playlist-prev {
  width: 133px;
  margin: 0 15px 12px 0;
  height: auto;
  float: left; }

.playlist-prev {
  .corn-top {
    height: 6px;
    position: absolute;
    display: block;
    width: 133px;
    background: url(../images/gray-corners.png) 100% -18px no-repeat;
    span {
      height: 6px;
      width: 6px;
      background: url(../images/gray-corners.png) 100% -12px no-repeat;
      float: left; } }
  .corn-bot {
    height: 6px;
    position: absolute;
    width: 133px;
    display: block;
    background: url(../images/gray-corners.png) 100% 0 no-repeat;
    margin-top: -6px;
    span {
      height: 6px;
      width: 6px;
      background: url(../images/gray-corners.png) 100% -6px no-repeat;
      float: left; } }
  span.photo {
    padding: 0 0 0 2px;
    background: #d5d5d5;
    display: block;
    border-color: #b0b0b0;
    border-style: solid;
    border-width: 0 1px 0 0;
    overflow: hidden;
    img {
      width: 130px;
      vertical-align: bottom; } } }

.playlist dd {
  overflow: hidden;
  &.descr {
    position: absolute;
    margin: 29px 0 0 354px;
    background: url(../images/inputs.gif) 0 0 no-repeat;
    padding: 1px 0 0 0;
    height: 140px;
    overflow: auto;
    width: 418px;
    span {
      overflow: auto;
      display: block;
      font: bold 14px Arial;
      font-style: italic;
      color: #b4b4b4;
      border: 1px #d3d3d3 solid;
      width: 364px;
      height: 140px;
      padding: 10px 17px;
      background: transparent; } }
  &.name {
    padding-bottom: 10px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    a.name {
      color: #000;
      font-size: 14px;
      font-weight: bold;
      line-height: 12px; } }
  &.autor {
    height: 20px;
    span {
      color: #a9d075;
      font-weight: bold; } } }

table.playlist {
  .listen {
    background-position: 0 -227px; }
  .favorite {
    background-position: 0 -250px; }
  .add-to-cart {
    background-position: 0 -59px; } }

	/* All News2
----------------------------*/

p.news {
  padding-right: 195px; }

ul.all-news2 {
  width: 100%;
  padding: 20px 0 30px 0;
  color: #000;
  overflow: hidden;
  font-size: 12px;
  li {
    padding: 0 0 5px 0;
    background: url(../images/dotes.gif) 0 5px repeat-x;
    dl {
      background: url(../images/clip.png) 0 0 no-repeat;
      padding-top: 25px;
      overflow: hidden;
      position: relative; }
    &.first {
      background: none;
      dl {
        background: none;
        padding: 0; } } }
  dd.photo {
    a {
      float: left; }
    img {
      max-width: 150px;
      max-height: 150px;
      float: left;
      border: 1px solid #b4b4b4;
      margin-right: 11px; } } }

.all-news2 {
  dd {
    &.title {
      padding: 0 0 10px 0;
      a.title {
        font-size: 16px;
        color: #d31402;
        &:hover {
          text-decoration: underline; } } }
    &.body {
      padding: 10px 0; }
    &.autor {
      overflow: hidden;
      p {
        float: left;
        padding: 0 20px 0 22px;
        font-weight: bold;
        height: 16px; }
      a {
        color: #676767;
        text-decoration: none;
        &:hover {
          color: #d31402;
          text-decoration: underline; } }
      p {
        &.date {
          background: url(../images/icons5.png) 0 0 no-repeat; }
        &.autor {
          background: url(../images/icons5.png) 0 -27px no-repeat; }
        &.comments {
          background: url(../images/icons5.png) 0 -56px no-repeat; }
        &.photo {
          background: url(../images/icons5.png) 0 -84px no-repeat; } } }
    &.tags {
      background: white url(../images/icons5.png) 0 -169px no-repeat;
      font-size: 11px;
      color: #676767;
      margin-left: 165px;
      padding: 0 20px 0 22px;
      overflow: hidden;
      p {
        float: left;
        &.tags {
          width: 250px;
          a {
            color: #000;
            padding: 0 3px;
            text-decoration: none;
            &:hover {
              background: #ffd700; } } } } }
    &.more {
      max-width: 130px; } }
  a.more {
    font-weight: bold;
    float: right;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding-top: 2px;
    width: 120px;
    height: 26px;
    background: url(../images/buttons-small.png) 0 0 no-repeat; } }

	/* Inside News2
----------------------------*/

.inside-news {
  width: 100%;
  padding: 20px 0 15px 0;
  color: #000;
  overflow: hidden;
  font-size: 12px;
  dl {
    overflow: hidden;
    position: relative; }
  dd {
    &.photo {
      a {
        float: left; }
      img {
        float: left;
        border: 1px solid #b4b4b4;
        margin-right: 11px; } }
    &.title {
      padding: 0 0 10px 0;
      a.title {
        font-size: 16px;
        color: #d31402;
        &:hover {
          text-decoration: underline; } } }
    &.body {
      padding: 10px 0; }
    &.autor {
      overflow: hidden;
      a {
        color: #676767;
        text-decoration: none;
        &:hover {
          color: #d31402;
          text-decoration: underline; } }
      p {
        float: left;
        padding: 0 20px 0 22px;
        font-weight: bold;
        height: 16px;
        &.date {
          background: url(../images/icons5.png) 0 0 no-repeat; }
        &.autor {
          background: url(../images/icons5.png) 0 -27px no-repeat; }
        &.comments {
          background: url(../images/icons5.png) 0 -56px no-repeat; }
        &.photo {
          background: url(../images/icons5.png) 0 -84px no-repeat; } } }
    &.tags {
      background: white url(../images/icons5.png) 0 -169px no-repeat;
      font-size: 11px;
      color: #676767;
      margin-left: 165px;
      padding: 0 20px 0 22px;
      overflow: hidden; } }
  div.tags {
    background: white url(../images/icons5.png) 0 -169px no-repeat;
    font-size: 11px;
    color: #676767;
    margin-left: 165px;
    padding: 0 20px 0 22px;
    overflow: hidden; }
  .tags p {
    float: left;
    &.tags {
      width: 250px;
      a {
        color: #000;
        padding: 0 3px;
        text-decoration: none;
        &:hover {
          background: #ffd700; } } } }
  dd.more {
    max-width: 130px; }
  a.more {
    font-weight: bold;
    float: right;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding-top: 2px;
    width: 120px;
    height: 26px;
    background: url(../images/buttons-small.png) 0 0 no-repeat; } }

.news-photo {
  overflow: hidden;
  padding: 15px 0 0 0;
  li {
    float: left;
    margin: 0 15px 15px 0;
    img {
      border: 1px solid #ccc; } } }

.inside-news div.tags {
  margin-left: 0; }

.comments-list {
  font-size: 12px;
  td {
    background: #f0f0f0;
    padding: 5px;
    border-top: 9px solid #fff;
    vertical-align: top;
    &.autor {
      a {
        color: #ff9700;
        text-decoration: none;
        font-weight: bold; }
      p {
        color: #000; } }
    &.message {
      padding: 5px 15px; } }
  ul.track-menu {
    li {
      height: 16px;
      padding: 5px 0; }
    a {
      margin-right: 5px;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(../images/icons4.png);
      background-repeat: no-repeat; } }
  .edit {
    background-position: 0 -276px;
    margin-left: 5px; }
  .delete {
    background-position: 0 -129px;
    margin-left: 5px; } }

/* Login form
------------------------*/

.login {
  .small {
    width: 340px;
    label {
      width: 80px; } }
  label.fogot-pass {
    width: auto;
    float: none;
    clear: both;
    font-weight: normal;
    font-size: 12px;
    margin-top: 10px; }
  input.buttons {
    margin-top: 20px; } }

/* Add comment form
------------------------*/

.add-comment {
  overflow: hidden;
  color: #676767;
  background: url(../images/dotes.gif) 0 5px repeat-x;
  fieldset.comment {
    width: 555px;
    float: left;
    background: url(../images/clip.png) 0 0 no-repeat;
    padding-top: 20px; }
  .inline {
    width: 100%;
    padding: 0;
    clear: both; }
  input.buttons {
    background: #fecb2b url(../images/gray-btn.png) 0 0 no-repeat;
    border: none;
    width: 112px;
    height: 30px;
    margin: 0 20px 0 0;
    color: #000;
    font: bold 14px Arial;
    padding: 0;
    float: right; }
  div.textarea {
    clear: both;
    background: url(../images/textarea.png) 0 0 no-repeat;
    width: 529px;
    height: 126px;
    padding: 0 0 0 7px;
    margin: 8px 0;
    textarea.textarea {
      font: bold 14px Arial;
      color: #000;
      border: none;
      width: 522px;
      height: 116px;
      padding: 5px 7px 5px 0;
      margin: 0; } }
  label {
    font-size: 14px;
    color: #7c7c7c;
    margin-top: 0;
    padding: 0;
    line-height: 11px;
    &.comments {
      font-size: 18px;
      color: #000;
      padding: 10px 0 11px 0;
      float: left; } }
  span.comments {
    font-size: 10px;
    float: left;
    font-weight: bold;
    color: #fff;
    background: url(../images/icons5.png) 0 -110px no-repeat;
    padding: 0 7px 5px 3px;
    height: 10px;
    margin: 7px 0 0 5px; }
  .inline label {}
  label {
    i {
      font-size: 11px;
      display: block;
      font-weight: normal;
      line-height: 11px;
      color: #8e8e8e; }
    &.small {
      font-size: 11px;
      display: block;
      font-weight: normal;
      line-height: 11px;
      color: #8e8e8e;
      font-style: italic;
      padding-top: 5px; } }
  .input1 {
    height: 30px;
    background: url(../images/input1.png) 0 100% no-repeat;
    padding: 0 0 0 7px;
    margin-right: 20px;
    float: left;
    input {
      display: block;
      padding: 6px 7px 0 0;
      height: 24px;
      width: 157px;
      position: relative;
      background: url(../images/input1.png) 100% 0 no-repeat;
      border: 0;
      font-size: 14px;
      margin: 0; } }
  fieldset.capcha {
    width: 220px;
    float: left;
    padding-top: 55px;
    img {
      border: 1px #b4b4b4 solid; } }
  input.capcha {
    border-width: 1px;
    border-color: #b0b2b8 #edeff3 #e4eaf0 #e4e5ec;
    border-style: solid;
    margin-top: 5px;
    width: 150px; }
  .invalid {
    padding-right: 20px;
    width: 155px;
    background: url(../images/icons5.png) 100% -132px no-repeat; } }

/* Orders
------------------------*/

a.red {
  color: #d31402; }

ul.all-list {
  .order {
    margin-left: 64px;
    padding-left: 22px;
    background: url(../images/icons4.png) 0 -358px no-repeat; }
  .orders {
    margin-left: 64px;
    padding-left: 22px;
    background: url(../images/icons4.png) 0 -443px no-repeat; }
  .order a:hover {
    color: #676767; }
  .make {
    padding-left: 18px;
    background: url(../images/icons4.png) 0 -385px no-repeat;
    span {
      background: #ffd917;
      padding: 0 3px; } }
  .dont-make {
    margin-left: 20px;
    padding-right: 20px;
    background: url(../images/icons4.png) 100% -14px no-repeat;
    span {
      background: #ffd917;
      padding: 0 3px; } } }

.order-menu {
  overflow: hidden;
  padding-top: 10px;
  a {
    float: right;
    display: block;
    padding: 3px 10px 0 20px;
    height: 20px;
    &.add {
      background: url(../images/icons4.png) 0 -273px no-repeat;
      float: left;
      color: #676767; }
    &.true {
      background: url(../images/icons4.png) 0 -416px no-repeat;
      &:hover span {
        background: #ffd917; } }
    &.all-answ {
      background: url(../images/icons5.png) 0 -55px no-repeat;
      color: #676767; } } }

p.hide-sub {
  float: right;
  a.hide-sub {
    margin: -20px 0 0 10px;
    position: absolute;
    color: #676767;
    display: block; } }

table.orders {
  margin: 15px 0;
  color: #656565;
  width: 100%;
  a:hover, td.number a:hover, p.number a:hover {
    color: #d31402; }
  td {
    background: #f0f0f0;
    border-bottom: 11px solid #fff;
    padding: 5px 5px 8px 5px;
    vertical-align: top; }
  p {
    position: relative; }
  i {
    color: #000; }
  td {
    &.autor {
      color: #000; }
    &.number {
      white-space: nowrap;
      text-align: right; } }
  p.number {
    white-space: nowrap;
    text-align: right; }
  td.number {
    padding-right: 12px; }
  a.autor {
    color: #FF9700;
    font-weight: bold;
    display: block; }
  td.number a, p.number a {
    color: #676767; }
  tr.sub {
    td {
      background: transparent;
      padding: 5px 0 5px 0;
      color: #000; }
    div.sub {
      margin-left: 20px;
      background-color: #fef3bc;
      float: left;
      width: 70%; }
    p {
      float: left;
      padding: 5px 1% 8px 1%;
      &.autor {
        width: 18%;
        max-width: 200px; } }
    a.autor {
      display: block; }
    p {
      &.comment {
        width: 62%;
        overflow: hidden; }
      &.number {
        text-align: right;
        height: 53px;
        float: right; } }
    a {
      &.comment {
        color: #082cc8; }
      &.ok-btn {
        display: block;
        margin: 10px auto;
        width: 29px;
        height: 29px;
        background: url(../images/ok-big.png) 0 0 no-repeat; } } } }

/*overflow:hidden;display:table;243px;*/

/*Table-form*/

form.order {
  width: 536px;
  input, .textarea {
    font: bold 14px Arial;
    font-style: italic;
    color: #000; }
  .clear {
    padding-bottom: 5px;
    height: 30px; }
  label {
    font-size: 18px;
    color: #000;
    font-weight: normal;
    &.caption {
      font-size: 14px;
      color: #838383;
      width: 105px;
      float: left;
      margin: 5px 0;
      font-weight: bold; }
    &.caption2 {
      font-size: 14px;
      color: #838383;
      margin: 5px 0;
      font-weight: bold; }
    &.caption3 {
      font-size: 14px;
      color: #838383;
      margin: 5px 0;
      font-weight: bold;
      width: auto;
      height: 25px;
      float: left;
      margin: 5px; } }
  .textarea {
    width: 536px; }
  .input1 {
    float: left;
    height: 30px;
    background: url(../images/input1.png) 0 100% no-repeat;
    padding: 0 0 0 7px;
    input {
      display: block;
      padding: 6px 7px 0 0;
      height: 24px;
      width: 416px;
      position: relative;
      background: url(../images/input1.png) 100% 0 no-repeat;
      border: 0;
      margin: 0; } }
  div.textarea {
    clear: both;
    background: url(../images/textarea.png) 0 0 no-repeat;
    width: 529px;
    height: 126px;
    padding: 0 0 0 7px;
    margin: 8px 0;
    textarea.textarea {
      border: none;
      width: 522px;
      height: 116px;
      padding: 5px 7px 5px 0;
      margin: 0; } }
  input.buttons {
    background: #fecb2b url(../images/gray-btn.png) 0 0 no-repeat;
    border: none;
    width: 112px;
    height: 30px;
    margin: 0;
    color: #000;
    font: bold 14px Arial;
    padding: 0;
    float: right; } }

/*form.order div.inputs {display:inline-block;width:434px;}
form.order div.inputs input.inputs {width:428px;}*/

.selectArea, .center_a, .selectArea .left, .scrollbar-up, .scrollbar-down, .scrollbar-handle {
  background: url(../images/selects.png) no-repeat; }

form.order {
  .music {
    width: 150px; }
  .language {
    z-index: 98;
    width: 130px; }
  .sex {
    z-index: 97;
    width: 56px; } }

.selectArea {
  height: 30px !important;
  background-position: 0 -60px;
  background-repeat: repeat-x;
  position: relative;
  z-index: 99;
  float: left;
  input {
    color: #4e4e4e !important;
    font-size: 14px !important;
    border: none !important;
    background: none !important;
    position: absolute;
    top: 4px;
    left: 1px;
    width: 80% !important;
    height: 100% !important;
    font-family: Tahoma;
    padding: 0 0 0 7px !important;
    cursor: pointer;
    height: auto !important; } }

.center_a {
  background-position: right -30px;
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important; }

* html .center_a {
  right: -1px;
  overflow: hidden; }

.selectArea {
  .left {
    width: 7px;
    background-position: 0 0;
    left: 0;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative; }
  .optionsDivInvisible, .optionsDivVisible {
    border-bottom: 1px solid #bdbcbd;
    background: #fff !important;
    top: 25px !important;
    position: absolute !important;
    margin: 0 !important;
    z-index: 200;
    text-align: left;
    left: 0 !important;
    width: 100% !important;
    overflow: hidden; } }

.optionsDivVisible {
  display: block; }

.optionsDivInvisible {
  visibility: visible;
  display: none; }

.selectArea {
  .optionsDivInvisible span {
    padding: 2px 0 !important;
    border-left: 1px solid #bdbcbd !important;
    border-right: 1px solid #bdbcbd !important;
    color: #4e4e4e !important;
    font-size: 14px !important;
    text-indent: 10px;
    display: block;
    height: 15px;
    cursor: pointer;
    margin: 0 !important;
    float: none !important;
    background: none;
    overflow: hidden; }
  .scrollbar-container span {
    margin-left: -5px !important; }
  .optionsDivInvisible span {
    &:hover, &.over {
      background: #ebe9e9;
      color: #000 !important; } } }

.scrollbar-container {
  height: 143px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  position: relative !important;
  border-left: 1px solid #bdbcbd !important;
  border-right: 1px solid #bdbcbd !important;
  display: block !important;
  float: none !important;
  clear: none !important;
  width: auto !important; }

* html .scrollbar-container {
  width: 100% !important; }

.scrollbar-up {
  width: 15px;
  height: 13px;
  overflow: hidden;
  position: absolute !important;
  top: 0;
  right: 0;
  left: auto;
  cursor: pointer;
  z-index: 40;
  background-position: -6px -91px;
  margin: 0 !important;
  padding: 0 !important; }

.scrollbar-down {
  width: 15px;
  height: 13px;
  overflow: hidden;
  position: absolute !important;
  top: 0;
  right: 0;
  left: auto;
  cursor: pointer;
  z-index: 40;
  background-position: -6px -91px;
  margin: 0 !important;
  padding: 0 !important;
  top: auto;
  bottom: 0;
  background-position: -6px -78px; }

.scrollbar-track {
  height: 117px;
  width: 15px;
  background: #f4f6f8;
  position: absolute !important;
  top: 13px;
  right: 0;
  z-index: 30;
  margin: 0 !important;
  padding: 0 !important; }

* html {
  .scrollbar-track, .scrollbar-up, .scrollbar-down {
    right: 0px; } }

.scrollbar-handle {
  cursor: pointer;
  position: absolute !important;
  right: 0;
  top: 0;
  width: 15px;
  height: 27px;
  overflow: hidden;
  margin: 0 !important;
  background-position: -6px -104px;
  display: block; }

.container2 {
  height: 103px;
  width: 100% !important;
  clear: none !important;
  position: static !important;
  margin: 0 !important;
  padding: 0 !important; }

.scroller-container {
  top: 0;
  left: 0;
  z-index: 20;
  position: absolute !important;
  width: 1000px !important;
  display: block !important;
  margin: 0 !important;
  padding: 0 !important; }

.selectArea .optionsDivInvisible .scroller-container span {
  border: none !important; }

#vmusic, #vsex, #vlanguage {
  margin-top: 3px; }

/* Download Table
---------------------*/

.download {
  .name {
    padding-left: 37px; }
  td.red {
    color: #d31402;
    vertical-align: middle; }
  a.black {
    color: #000; }
  ul.formats {
    float: right;
    margin: 5px 0;
    li {
      float: left;
      margin: 0 5px; }
    a {
      color: #000; } } }
