
							<li class="dotes">
								<dl class="n">
									<dd class="photo">
									  <a href="#">
									    <img src="images/news.gif" alt="Фильм аватар"/>
									  </a>
									</dd>
								<dt class="title">
								  <%= link_to last_news.header, news_item_url(:id => last_news.id), :class => "title" %></dt>
									<dd class="descr">Если удалена добавочная группа пользователей то все пользователи принадлежащие этой группе перПри этом группы гость, пользователь, модер и админ невозможно удалить.
											<span class="red"><%= last_news.comments.size %></span>
									</dd>
								</dl>
							</li>

