<tr>
  <td><%= last_news.header %></td>
  <td><%= last_news.text %></td>
  <td>ССЫЛКА НА КАТЕГОРИЮ ИЛИ ЭТО ЧИСЛО КОММЕНТИРИЕВ</td>
  <td><%= link_to 'Читать дальше...', news_item_url(:id => last_news.id) %></td>
</tr>

