<h1> Welcome to mp3 cms</h1>

<h2>Последние запросы</h2>
<%= render :partial => 'lastrequest', :collection => @lastrequests %>

<h2>Последние новости</h2>
<table class="">
  <%= render :partial => 'last_news', :collection => @last_news_items %>
</table>
<%= link_to 'rss', news_items_url(:format => :rss) %>

