<section id="track_list"><%= render :partial => "tracks" %></section>
<h3 class="red">Последние новости</h3>
<ul class="news">
  <%= render :partial => 'last_news', :collection => @last_news_items %>
</ul>


<%= render :partial => 'playlists', :object => @playlists %>

