<ul class="catalog dotted">
	<li class="selected"><a href="#">Новые MP3</a></li>
	<li><a href="#">Популярные MP3</a></li>
</ul>

<p class="all-list dotted"><a href="#">Весь список</a></p>

<div class="new-popular">
	<div class="corner-r"></div>

	<table class="mp3-list">
		<tr>
			<td>1.</td>
			<td><a href="#">Дискотека Авария Feat. Вера Бреж</a></td>
			<td><a href="#">Лето Всегда</a></td>
			<td>192 мб/с</td>
			<td>10 мб</td>
			<td><input type="checkbox" /></td>
			<td><a href="#" class="add-to-cart"></a>
			</td>
			<td><a href="#" class="listen"></a>
			</td>
			<td><a href="#" class="buy"></a>
			</td>
			</tr>
		<tr class="white">
			<td>2.</td>
			<td><a href="#">Александр Рыбак</a></td>
			<td><a href="#">Я не верю в чудеса (ost. Черн)</a></td>
			<td>192 мб/с</td>
			<td>7 мб</td>
			<td><input type="checkbox" /></td>
			<td><a href="#" class="add-to-cart"></a>
			</td>
			<td><a href="#" class="listen"></a>
			</td>
			<td><a href="#" class="buy"></a>
			</td>
		</tr>
		<tr>
			<td>1.</td>
			<td><a href="#">Дискотека Авария Feat. Вера Бреж</a></td>
			<td><a href="#">Лето Всегда</a></td>
			<td>192 мб/с</td>
			<td>10 мб</td>
			<td><input type="checkbox" /></td>
			<td><a href="#" class="add-to-cart"></a>
			</td>
			<td><a href="#" class="listen"></a>
			</td>
			<td><a href="#" class="buy"></a>
			</td>
		</tr>
		<tr class="white">
			<td>2.</td>
			<td><a href="#">Александр Рыбак</a></td>
			<td><a href="#">Я не верю в чудеса (ost. Черн)</a></td>
			<td>192 мб/с</td>
			<td>7 мб</td>
			<td><input type="checkbox" /></td>
			<td><a href="#" class="add-to-cart"></a>
			</td>
			<td><a href="#" class="listen"></a>
			</td>
			<td><a href="#" class="buy"></a>
			</td>
		</tr>
		</table>
	<div class="corner-lb"><span></span></div>
</div>

<h3 class="red">Последние новости</h3>
<ul class="news">
	<li class="dotes">
		<dl class="n">
			<dd class="photo"><a href="#"><img src="images/news.gif" alt="Фильм аватар"/></a></dd>
			<dt class="title"><a href="#" class="title">Аватар бьет все рекорды по прокату</a></dt>
			<dd class="descr">Если удалена добавочная группа пользователей то все пользователи принадлежащие этой группе перПри этом группы гость, пользователь, модер и админ невозможно удалить.
				<span class="red">123</span>
			</dd>
		</dl>
	</li>
	<li class="dotes">
		<dl>
			<dd class="photo"><a href="#"><img src="images/news.gif" alt="Фильм аватар"/></a></dd>
			<dt class="title"><a href="#" class="title">Аватар бьет все рекорды по прокату</a></dt>
			<dd class="descr">При этом группы гость, пользователь, модер и админ невозможно удалить. Если удалена добавочная группа пользователей то все пользователи принадлежащие этой группе переносятся в группу пользователь
				<span class="red">123</span>
			</dd>
		</dl>
	</li>
	<li class="dotes">
		<dl class="n">
			<dd class="photo"><a href="#"><img src="images/news.gif" alt="Фильм аватар"/></a></dd>
			<dt class="title"><a href="#" class="title">Аватар бьет все рекорды по прокату</a></dt>
			<dd class="descr">Если удалена добавочная группа пользователей то все пользователи принадлежащие этой группе пер При этом группы гость, пользователь, модер и админ невозможно удалить.
				<span class="red">123</span>
			</dd>
		</dl>
	</li>
	<li class="dotes">
		<dl>
			<dd class="photo"><a href="#"><img src="images/news.gif" alt="Фильм аватар"/></a></dd>
			<dt class="title"><a href="#" class="title">Аватар бьет все рекорды по прокату</a></dt>
			<dd class="descr">При этом группы гость, пользователь, модер и админ невозможно удалить. Если удалена добавочная группа пользователей то все пользователи принадлежащие этой группе переносятся в группу пользователь
				<span class="red">123</span>
			</dd>
		</dl>
	</li>
	<li>
		<dl>
			<dd class="photo"><a href="#"><img src="images/news.gif" alt="Фильм аватар"/></a></dd>
			<dt class="title"><a href="#" class="title">Аватар бьет все рекорды по прокату</a></dt>
			<dd class="descr">Если удалена добавочная группа пользователей то все пользователи принадлежащие этой группе пер При этом группы гость, пользователь, модер и админ невозможно удалить.
				<span class="red">123</span>
			</dd>
			</dl>
	</li>
	<li>
		<dl>
			<dd class="photo"><a href="#"><img src="images/news.gif" alt="Фильм аватар"/></a></dd>
			<dt class="title"><a href="#" class="title">Аватар бьет все рекорды по прокату</a></dt>
			<dd class="descr">При этом группы гость, пользователь, модер и админ невозможно удалить. Если удалена добавочная группа пользователей то все пользователи принадлежащие этой группе переносятся в группу пользователь
				<span class="red">123</span>
			</dd>
		</dl>
	</li>
</ul>



