<ul class="catalog dotted">
	<li class="selected"><a href="#">Новые MP3</a></li>
	<li><a href="#">Популярные MP3</a></li>
</ul>

<p class="all-list dotted"><a href="#">Весь список</a></p>

<div class="new-popular">
	<div class="corner-r"></div>

	<table class="mp3-list">
		<tr>
			<td>1.</td>
			<td><a href="#">Дискотека Авария Feat. Вера Бреж</a></td>
			<td><a href="#">Лето Всегда</a></td>
			<td>192 мб/с</td>
			<td>10 мб</td>
			<td><input type="checkbox" /></td>
			<td><a href="#" class="add-to-cart"></a>
			</td>
			<td><a href="#" class="listen"></a>
			</td>
			<td><a href="#" class="buy"></a>
			</td>
			</tr>
		<tr class="white">
			<td>2.</td>
			<td><a href="#">Александр Рыбак</a></td>
			<td><a href="#">Я не верю в чудеса (ost. Черн)</a></td>
			<td>192 мб/с</td>
			<td>7 мб</td>
			<td><input type="checkbox" /></td>
			<td><a href="#" class="add-to-cart"></a>
			</td>
			<td><a href="#" class="listen"></a>
			</td>
			<td><a href="#" class="buy"></a>
			</td>
		</tr>
		<tr>
			<td>1.</td>
			<td><a href="#">Дискотека Авария Feat. Вера Бреж</a></td>
			<td><a href="#">Лето Всегда</a></td>
			<td>192 мб/с</td>
			<td>10 мб</td>
			<td><input type="checkbox" /></td>
			<td><a href="#" class="add-to-cart"></a>
			</td>
			<td><a href="#" class="listen"></a>
			</td>
			<td><a href="#" class="buy"></a>
			</td>
		</tr>
		<tr class="white">
			<td>2.</td>
			<td><a href="#">Александр Рыбак</a></td>
			<td><a href="#">Я не верю в чудеса (ost. Черн)</a></td>
			<td>192 мб/с</td>
			<td>7 мб</td>
			<td><input type="checkbox" /></td>
			<td><a href="#" class="add-to-cart"></a>
			</td>
			<td><a href="#" class="listen"></a>
			</td>
			<td><a href="#" class="buy"></a>
			</td>
		</tr>
		</table>
	<div class="corner-lb"><span></span></div>
  <h3 class="red">Последние новости</h3>
  <ul class="news">
    <%= render :partial => 'last_news', :collection => @last_news_items %>
  </ul>
</div>


