<h1> Welcome to mp3 cms</h1>
<% if @lastrequests -%>
<h2>Last search mp3</h2>
<ul>
  <%= render :partial => 'lastrequest', :collection => @lastrequests %>
</ul>
<% end -%>

<h2>Последние новости</h2>
<table class="">
  <%= render :partial => 'last_news', :collection => @last_news_items %>
</table>

