<h1>Admin News_Categories::index</h1>

<% if @news_categories -%>
<ul>
  <%= render :partial => 'news_category', :collection => @news_categories %>
</ul>
<% else -%>
  У вас нет категорий новостей
<% end -%>

<%= link_to 'Создать категорию', new_admin_news_category_url %>

