<h1>Admin::news_category::new</h1>
  <% form_for @news_category, :url => admin_news_categories_url do |form| %>
<%= render :partial => 'form', :object => form %>
    <%= form.submit "Сохранить" %>
  <% end %>

