%ul.all-news
  = render :partial => 'block_news', :collection => @news
.navigation
  = will_paginate @news, :renderer => ListLinkNewsitem, :next_label => "Вперёд >>", :previous_label => "<< Назад ", :class => "right"
