%ul.catalog.dotted
  %li.selected= link_to I18n.t("views.news.title"), news_items_path
%p.all-list.dotted.news
  = link_to I18n.t("views.news.top"),   select_news_items_path(:top)
  = link_to I18n.t("views.news.fresh"), select_news_items_path(:fresh)
  = link_to I18n.t("views.news.all"),   news_items_path
