<%= render :partial => 'head' %>
<%= render :partial => 'items', :object => @news  %>

<div class="navigation">
  <%= will_paginate @news, :class => "right", :renderer => ListLinkNewsitem  if @news.respond_to?(:total_pages) %>
</div>

