<%= render :partial => 'head' %>
<%= render :partial => 'items', :object => @news  %>
<div class="navigation">

<%= will_paginate @news, :class => "right", :renderer => ListLinkNewsitem %>

<!--
  <%# will_paginate @news, :class => "mp3_pagination right" %>
-->
</div>

