<% if flash[:error].blank? && @archive.present? &&  @archive.errors.blank? %>
  $("#result").html("<%= escape_javascript(render :partial => 'archive_link' ) %>")
<% else %>
  <% unless flash[:error].blank? %>
    $('.main > div:first').before("<div class='error'><div><p><%= flash[:error] %></p></div></div>")
  <% end %>
  <% if @archive.present? && !@archive.errors.blank? %>
    $("#result").html("<%= escape_javascript(error_messages!(@archive)) %>")
  <% end %>
<% end %>
