<%= javascript_include_tag :ckeditor %>
<%= ckeditor_textarea("object", "field", :width => '100%', :height => '200px') %>

<h1>Edit news</h1>
<% semantic_form_for @news, :url => admin_news_item_url do |form| %>
  <%= render :partial => 'form', :object => form %>
<% end -%>

