<h1>News list</h1>

<%= will_paginate @news %>

<table class="mp3-list" border="1">
<%= render :partial => 'block_news', :collection => @news %>
</table>

<%= will_paginate @news %>


<%= link_to 'Добавить новость', new_admin_news_item_url %>

