<h1>News list</h1>
<table class="mp3-list" border="1">
  <tr>
<%= render :partial => 'block_news', :collection => @news %>
  </tr>
</table>



<%= link_to 'Добавить новость', new_admin_news_item_url %>

