<% form_for [:admin, @track], :class => "login" do |f| -%>
    <fieldset>
		  <label class="yellow">Свойства трека</label>
      <div class="inline one-col">
        <label>Название:</label>
        <div class="inputs">
          <%= f.text_field :title, :class => "inputs" %>
        </div>
        <label>Автор:</label>
        <div class="inputs">
          <%= f.text_field :author, :class => "inputs" %>
        </div>
      </div>
      <div class="buttons">
        <%= f.submit "Сохранить", :class => "buttons" %>
        <%= link_to 'Отмена', tracks_url, :class => "cancel" %>
      </div>
    </fieldset>
<% end -%>

