<div class="new-popular">
	<table class="mp3-list">
    <% if @tracks %>
      <% @tracks.each_with_index do |track, index| %>
        <%= render :partial => "admin/playlists/track_for_edit", :locals => {:track => track, :index => index} %>
      <% end %>
    <% end %>
  </table>
</div>

