<div id="title">
  <%= @playlist.title %>
</div>
<div id="description">
  <%= @playlist.description %>
</div>
<div id="owner">
  <%#= @playlist.owner %>
</div>
<div id="manage_links">
  <%= link_to "Редактировать", edit_admin_playlist_path(@playlist), :title => "Редактировать плейлист", :id => "playlist_#{@playlist.id}_edit", :class => "edit" %>
  <%= link_to "Удалить", admin_playlist_path(@playlist), :confirm => 'А вы уверены?', :method => :delete, :id => "playlist_#{@playlist.id}_delete", :class => "destroy" %>
</div>

