<ul class="catalog dotted">
	<li class="selected"><a href="#">Новости</a></li>
</ul>

<ul class="all-news">
<% for element_news in block_news -%>
  <li>
  	<dl>
  	  <% if element_news.avatar? -%>
  		  <dd class="photo small-corners">
  			  <span class="corn-top"><span></span></span>
  			  <span class="photo"><%= element_news.avatar.url(:original) %></span>
  			  <span class="corn-bot"><span></span></span>
  		  </dd>
  	  <% end -%>
  		<dd class="title"><%= link_to element_news.header, news_item_url(element_news), :class => "title" %></dd>
  		<dd><%= element_news.text %></dd>
  		<dd class="red autor"><p class="date">4.02.2010</p> <p class="comments">(123)</p> <p class="autor">MobyDick</p></dd>
  		<dd class="more"><%= link_to 'читать дальше...', news_item_url(element_news) %></dd>
  	</dl>
  </li>
<% end -%>
</ul>

