<% content_for :title do %>
  <%= @title %>
<% end %>

<h1>Search#news</h1>


<% unless @rez_search.nil? or @rez_search.empty? -%>
  <%= render :partial => 'block_news', :collection => @rez_search %>
<% else -%>
  <%= @title %>
<% end %>

