<% content_for :title do %>
  <%= @title %>
<% end %>

<h1>Search#playlists</h1>

<% unless @rez_search -%>
  <%= render :partial => 'block_playlist', :collection => @rez_search %>
<% else -%>
  <%= @title %>
<% end -%>

