<%= _title "Поиск" %>
<% unless @rez_search.blank? -%>
<%= will_paginate @rez_search %>

<table class ="mp3-list">
  <%= render :partial => "block_#{@params.to_s}", :collection => @rez_search %>
</table>

<%= will_paginate @rez_search %>
<% else -%>
По вашему запросу ничего не найденно
<% end -%>

