<table id="playlists">
  <tr>
    <th>Название</th>
    <th>Описание</th>
  </tr>
  <% @playlists.each_with_index do |playlist, index| %>
    <%= render :partial => "playlists/playlist", :locals => {:playlist => playlist, :index => index} %>
  <% end %>
</table>
<%= paginate @playlists %>

