<form action="#" method="post" class="edit_post" id="form_tracks">

	<div class="player-wr">
		<p class="current-track"></p>
		<div class="player">
			<a href="#" class="play play-tracks" onclick="play_pause(); return false;"></a>

			<span class="timeline">
        <span class="timeline-act" style="width:0%"></span>
				<div id="track_slider"></div>
			</span>

			<a href="#" class="clip next-track" onclick="play_next_track(); return false;"></a>
			<a href="#" class="clip2" onclick="random_play(); return false;"></a>
      <span class="time">
        <span id="track_time">00:00</span>
        <span>&nbsp;-&nbsp;</span>
        <span id="time_end">00:00</span>
      </span>
		</div>
	</div>


  <div>
    <table class="mp3-list" id="tracks">
      <%= render :partial => "track_player", :collection => @tracks, :locals => {:playlist_id => @playlist.id} %>
    </table>
  </div>

</form>

