<h2><%= I18n.t("log_in") %></h2>

<% semantic_form_for @user_session do |form| %>
<% form.inputs do -%>
<%= form.input :email %>
<%= form.input :password %>
<% end -%>
<% form.buttons do -%>
<%= form.commit_button I18n.t("login") %>
<% end -%>
<% end -%>
